/* Error: Undefined variable.
 *     ,
 * 381 |         top: $button-top-0.2;
 *     |              ^^^^^^^^^^^^^
 *     '
 *   scss/_game-action-buttons.scss 381:14  @content
 *   scss/app.scss 8:7                      mobile-horizonal()
 *   scss/_game-action-buttons.scss 227:1   @import
 *   scss/app.scss 243:9                    root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a     \2577 \a 381 \2502          top: $button-top-0.2;\a     \2502               ^^^^^^^^^^^^^\a     \2575 \a   scss/_game-action-buttons.scss 381:14  @content\a   scss/app.scss 8:7                      mobile-horizonal()\a   scss/_game-action-buttons.scss 227:1   @import\a   scss/app.scss 243:9                    root stylesheet";
}
