.card{
    border: 2px solid white;
    outline: 1px solid black;
    border-radius: 5px;
}

.player-div{
    position:relative;
}

#community-cards{

}

#community-card-deck1{
    position: fixed;
    top: 32vh;
    left:26vw;
    z-index: 15;
}

#community-card-deck2{
    position: fixed;
    top: 32.1vh;
    left:26.1vw;
    z-index: 16;
}

#community-card-deck3{
    position: fixed;
    top: 32.2vh;
    left:26.2vw;
    z-index: 17;
}

@keyframes community-card-1-anim {
    from {

        left:26vw;
    }
    to {
        left:35vw;

    }
}


#community-card-1{
    position: fixed;
    top: 32vh;
    left:31vw;
    z-index: 10;
    animation-name: community-card-1-anim;
    animation-duration: 0.9s;
    animation-delay: 1.3s;
    animation-fill-mode: both;

}

@keyframes community-card-2-anim {
    from {

        left:26vw;
    }
    to {
        left:40vw;

    }
}

#community-card-2{
    position: fixed;
    top: 32vh;
    z-index: 10;
    left:31vw;
    animation-name: community-card-2-anim;
    animation-duration: 0.9s;
    animation-delay: 1.3s;
    animation-fill-mode: both;
}

@keyframes community-card-3-anim {
    from {
        left:26vw;

    }
    to {
        left:45vw;

    }
}

#community-card-3{
    position: fixed;
    top: 32vh;
    z-index: 10;
    left:31vw;
    animation-name: community-card-3-anim;
    animation-duration: 0.9s;
    animation-delay: 1.3s;
    animation-fill-mode: both;


}

@keyframes community-card-4-anim {
    from {
        left:26vw;

    }
    to {
        left:51vw;

    }
}

#community-card-4{
    position: fixed;
    top: 32vh;
    z-index: 10;
    left:31vw;
    animation-name: community-card-4-anim;
    animation-duration: 1s;
    animation-delay: 1.3s;
    animation-fill-mode: both;
}

@keyframes community-card-5-anim {
    from {
        left:26vw;

    }
    to {
        left:57vw;

    }
}

#community-card-5{
    position: fixed;
    top: 32vh;
    z-index: 10;
    left:31vw;
    animation-name: community-card-5-anim;
    animation-duration: 1s;
    animation-delay: 1.3s;
    animation-fill-mode: both;
}

.first-card-texas{
    z-index: 20;
    transform: rotate(-8deg);
    position: absolute;
    left: 0vw;
}
.first-card{
    z-index: 20;
    position: absolute;
    left: -4.6vw;
}
.second-card-texas{
    z-index: 21;
    position: absolute;
    transform: rotate(8deg);
    left: 3.2vw;
}
.second-card{
    z-index: 21;
    position: absolute;
    left: -1.7vw;
}
.third-card{
    z-index: 22;
    position: absolute;
    left: 1.1vw;
}
.fourth-card{
    z-index: 23;
    position: absolute;
    left: 4vw;
}

.simple-card-base{
    width: 4vw;
    height: 5vw;
    border: 1px solid black;
    background: white;
    border-radius: 5px;
    padding: 0.2vw;
}

.highlight-card{
    outline: 4px solid orange;
}

.shown-card{
    outline: 1px solid #117a8b;
}

.simple-card-back{
    background: #BB445588;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    border: 1px solid transparent;
}

.simple-card-front{
    width: 3.6vw;
    height: 4.6vw;
    font-weight: bold;
    font-size: 2.1em;
    background: white;
    position: absolute;

}

.simple-card-folded{
    background: #88888899;
    width: 100%;
    height: 100%;
    border: 1px solid transparent;
    border-radius: 5px;
}
.my-folded-card{
    width: 3.6vw;
    height: 4.6vw;
    font-weight: bold;
    font-size: 2.1em;
    position: absolute;
    opacity: 0.5;
    background: #CCCCCC99;
}
.black-card{
    color: black;
}
.red-card{
    color: #CC0000;
}
.club-color-card{
    color: #553399;
}
.diamond-color-card{
    color: #126007;
}
.card-number{
    position: relative;
    top:0px;
    left:0.1vw;
}

.card-sign{
    font-size: 0.7em;
    position: relative;
    bottom:0.8vw;
    left:1.3vw;
}

.em,.em-svg{
    height:1.5em;
    width:1.5em;
    background-position:center;
    background-repeat:no-repeat;
    background-size:contain;
    display:inline-block;
    vertical-align:middle
}

.em-2clubs{
    background-image:url("https://friendly-poker.herokuapp.com/2club.png")
}
.em-2clubs.em-svg{background:url("https://friendly-poker.herokuapp.com/2club.png");
    background-image:url("https://friendly-poker.herokuapp.com/2club.svg"),none
}

.em-4clubs{
    background-image:url("https://friendly-poker.herokuapp.com/4club.png")
}
.em-4clubs.em-svg{background:url("https://friendly-poker.herokuapp.com/4club.png");
    background-image:url("https://friendly-poker.herokuapp.com/4club.svg"),none
}

.em-2diamonds{background-image:url("https://friendly-poker.herokuapp.com/2diamond.png")}
.em-2diamonds.em-svg{background:url("https://friendly-poker.herokuapp.com/2diamond.png");
background-image:url("https://friendly-poker.herokuapp.com/2diamond.svg"),none
}
.em-4diamonds{background-image:url("https://friendly-poker.herokuapp.com/4diamond.png")}
.em-4diamonds.em-svg{background:url("https://friendly-poker.herokuapp.com/4diamond.png");
background-image:url("https://friendly-poker.herokuapp.com/4diamond.svg"),none
}

.em-hearts{background-image:url("https://twemoji.maxcdn.com/2/72x72/2665.png")}
.em-hearts.em-svg{background:url("https://twemoji.maxcdn.com/2/72x72/2665.png");
    background-image:url("https://twemoji.maxcdn.com/2/svg/2665.svg"),none}

em-spades{background-image:url("https://twemoji.maxcdn.com/2/72x72/2660.png")}
.em-spades.em-svg{background:url("https://twemoji.maxcdn.com/2/72x72/2660.png");
    background-image:url("https://twemoji.maxcdn.com/2/svg/2660.svg"),none}

@media only screen and (max-width: 800px) {

    #community-card-deck1{
        top: 38vh;
        left:26vw;
    }

    #community-card-deck2{
        top: 38vh;
        left:26.1vw;
    }

    #community-card-deck3{
        position: fixed;
        top: 38vh;
        left:26.2vw;
    }


    #community-card-1{
        position: fixed;
        top: 38vh;
        left:37vw;
        z-index: 10;
    }
    #community-card-2{
        position: fixed;
        top: 38vh;
        z-index: 10;
        left:42vw;
    }
    #community-card-3{
        position: fixed;
        top: 38vh;
        z-index: 10;
        left:47vw;
    }
    #community-card-4{
        position: fixed;
        top: 38vh;
        z-index: 10;
        left:53vw;
    }
    #community-card-5{
        top: 38vh;
        left:59vw;
    }

    .simple-card-front{
        font-size: 0.6em;
    }

    .simple-card-front{
        width: 3.6vw;
        height: 4.6vw;
        font-size: 0.7em;

    }

    .my-folded-card{
        width: 3.6vw;
        height: 4.6vw;
        font-size: 0.7em;

    }
}
