#create-new-game-screen{
    position: fixed;
    top:0;
    left:0;
    width: 100vw;
    height: 100vh;
    background: black;
    z-index: 0;
}
#create-new-game-screen input{
    text-align: center;
}

.config-screens-top-level-sections{
    position: fixed;
    top:13vh;
    height: 77vh;
    z-index: 1;
    border: 3px solid gray;
    border-radius: 12px;
}

#create-new-game-section{
    left:5vw;
    width: 53vw;
}

#my-existing-games{
    left:63vw;
    width: 34vw;
}

.config-screens-top-level-sections-header{
    position: fixed;
    top:15.5vh;
    height: 5vmax;
    z-index: 2;
    text-align: center;
    font-size: 3vw;
    color: white;
    z-index: 2;
}

#create-new-game-section-header{
    left: 5vw;
    width: 53vw;
}

#my-existing-games-header{
    left:65vw;
    width: 32vw;
}

.config-screens-top-level-sections-body{
    position: fixed;
    top:25vh;
    height: 47.5vh;
    z-index: 2;
    border: 2px solid gray;
    border-radius: 12px;
}
#create-new-game-section-body{
    left: 6vw;
    width: 51vw;
}

#my-existing-games-body{
    left:64vw;
    width: 32vw;
    padding: 4px;
    overflow-y: scroll;
    height: 64vh;
}

#create-new-game-name-div{
    position: fixed;
    top:27vh;
    height: 6vh;
    left: 6vw;
    width: 51vw;
    z-index: 3;
    text-align: left;
    border: 1px solid transparent;
    padding-left: 1vw;
    padding-right: 1vw;
    padding-top: 0px;
    display:table;


}
.create-new-game-labels{
    color: white;
    font-size: 2.7em;

}

.tablecell{
    width:1px;
    display:table-cell;
}
#create-new-game-name-input{

    border-radius: 12px;
    margin-left: 1vw;
    font-size:  2.6em;
    color: black;
    display:table-cell;
    width:98%;

}
#create-new-game-blinds-div{
    position: fixed;
    top:36.5vh;
    height: 6vh;
    left: 6vw;
    width: 51vw;
    z-index: 3;
    text-align: left;
    padding-left: 1vw;
    padding-right: 1vw;
    padding-top: 0px;
}


#create-new-game-small-blind-input{
    border-radius: 12px;

    font-size:  2.3em;
    color: black;
    margin-left: 1vw;
    margin-right: 2vw;
    width: 7vw;
}
#create-new-game-big-blind-input{
    border-radius: 12px;
    font-size:  2.3em;
    color: black;
    margin-left: 1vw;
    width: 7vw;
}
#create-new-game-action-time-div{
    position: fixed;
    top:46vh;
    height: 6vh;
    left: 6vw;
    width: 51vw;
    z-index: 3;
    text-align: left;
    padding-left: 1vw;
    padding-right: 1vw;
    padding-top: 0px;
}
#create-new-game-action-time-input{
    border-radius: 12px;
    margin-right: 1vw;

    font-size:  2.3em;
    color: black;
    margin-left: 1vw;
    width: 6vw;
}

#create-new-game-buy-in-div{
    position: fixed;
    top:57vh;
    height: 6vh;
    left: 6vw;
    width: 51vw;
    z-index: 3;
    text-align: left;
    padding-left: 1vw;
    padding-right: 1vw;
    padding-top: 0px;
}
#create-new-game-buy-in-input{
    border-radius: 12px;
    margin-right: 1vw;
    font-size:  2.3em;
    color: black;
    margin-left: 1vw;
    width: 9vw;
}

#create-new-game-private-checkbox{
    position: fixed;
    top:66vh;
    height: 6vh;
    left: 6vw;
    width: 51vw;
    z-index: 3;
    text-align: left;
    padding-left: 1vw;
    padding-right: 1vw;
    padding-top: 0px;
    color: white;
    font-size: 2em;
}
#create-new-game-private-checkbox label{
    font-size:  2.3em;
}
#create-new-game-signs-div{
    position: fixed;
    top:66vh;
    height: 6vh;
    left: 35vw;
    width: 24vw;
    z-index: 3;
    text-align: left;
}
#create-new-game-signs-div span{
    color: white;
    border: 1px solid white;
    border-radius: 10px;
    margin: 3px;
    padding: 4px 10px;
    background: #11441188;
    font-size:  1.8em;
}

#create-game-button{
    color: white;
    font-size:  3em;
    position: fixed;
    top:76vh;
    height: 10vh;
    left:24.5vw;
    width: 13.5vw;
    z-index: 2;
    text-align: center;
    border: 3px solid gray;
    border-radius: 12px;
    cursor: pointer;
}
.disabled-create-game-button{
    color: darkgray;
}
.existing-game{
    border-radius: 7px;
    width: 100%;
    padding-left: 20px;
    padding-bottom: 20px;
    margin: 2px;
    cursor: pointer;
    font-size: 1.8em;
}
.existing-game:hover{
    cursor: pointer;
    background: #9fcdff;
}
.greyGame{
    background: #5a6268;
}
.whiteGame{
    background: grey;
}
#delete-game-button{
    margin: 15px;
    padding: 10px;
    text-align: center;
    border: 2px solid black;
    background: white;
    color: black;
    width: 50%;
    border-radius: 20px;
}

#delete-game-button:hover{
    background: indianred;
    color: white;
    cursor: revert;
}
@media only screen and (max-width: 800px) {
    .config-screens-top-level-sections{
        top:12vh;
        height: 81.4vh;
        border: 2px solid gray;
        border-radius: 8px;
    }

    #create-new-game-section{
        left:2vw;
        width: 58vw;
    }

    #my-existing-games{
        left:62vw;
        width: 36vw;
    }
    .config-screens-top-level-sections-header{
        top:14vh;
        height: 3vh;
        font-size: 3vw;

    }

    .config-screens-top-level-sections-body{
        top:23vh;
        height: 66vh;
        border: 2px solid gray;
        border-radius: 9px;
    }
    #create-new-game-section-body{
        left: 4vw;
        width: 54vw;
    }

    #my-existing-games-body{
        height: 66vh;
    }

    #create-new-game-name-div{
        top:26vh;
        left: 6vw;
    }
    .create-new-game-labels{
        font-size: 1em;
    }

    #create-new-game-name-input{
        border-radius: 8px;
        margin-left: 1vw;
        font-size:  1em;
    }
    #create-new-game-blinds-div{
        top:38vh;
    }

    #create-new-game-small-blind-input{
        border-radius: 8px;
        font-size:  1em;
    }
    #create-new-game-big-blind-input{
        border-radius: 8px;
        font-size:  1em;

    }
    #create-new-game-action-time-div{
        top:49vh;
    }
    #create-new-game-action-time-input{
        border-radius: 8px;
        font-size:  1em;
    }

    #create-new-game-buy-in-div{
        top:59vh;
    }
    #create-new-game-buy-in-input{
        border-radius: 8px;
        font-size:  1em;
    }

    #create-new-game-private-checkbox{
        top:66vh;
        font-size: 1em;
    }

    #create-game-button{
        font-size:  1.2em;
        position: fixed;
        top:76.3vh;
        height: 10vh;
        left:24vw;
        width: 15.5vw;
    }

    .existing-game{
        padding-left: 5px;
        font-size: 0.9em;
    }

    #delete-game-button{
        margin: 15px;
        padding: 10px;
        text-align: center;
        border: 2px solid black;
        background: white;
        color: black;
        width: 90%;
        border-radius: 20px;
    }

}
