.big-button{
    border: 2px solid grey;
    border-radius: 15px;
    height: 7vh;
    width: 7.5vw;
    text-align: center;
    font-weight: bold;
    font-size: 2em;
    padding-top: 1.5vh;
}
.action-button{
    position: fixed;
    top: 81vh;
    border: 2px solid grey;
    border-radius: 15px;
    height: 7vh;
    width: 7.5vw;
    text-align: center;
    font-weight: bold;
    font-size: 2em;
    padding-top: 0.7vh;
    cursor: pointer;
}

.inactive-button{
    opacity: 60%;
    cursor: default;
}

.active-button:hover{
    cursor: pointer;
}

#show-cards-button{
    right: 1vw;
    width: 22vw;
    font-size: 2.2em;
    background: #1e90ff44;
}

#show-cards-button:hover{
    background: #1e90ff99;
}

#fold-button{
    right: 1vw;
    background: #cd5c5c77;
}

#fold-button:hover{
    background: #cd5c5cDD;
}

#toggle-raise-button{
    right: 11vw;
    background: #9fcdbb77
}

#toggle-raise-button:hover{
    background: #9fcdbbDA
}

#check-button{
    right: 21vw;
    background: #155724AA;
    width: 9vw;
}
#check-button:hover{
    background: #155724FF
}

#call-button{
    right: 21vw;
    background: #325752AA;
    width: 9vw;
}

#call-button:hover{
    background: #325752FF
}

#toggle-raise-button-cancel{
    right: 1vw;
    background: #99999933;
}

#toggle-raise-button-cancel:hover{
    background: #9fcdbbDA
}

#raise-button{
    right: 9vw;
    background: #9fffbb77;
    width: 11vw;
}

#raise-button:hover{
    background: #9fffbbCC
}

.raise-button-add-remove{
    height: 7vh;
    width: 4vw;
    text-align: center;
    font-weight: bold;
    font-size: 1.7em;
    padding-top: 1.3vh;
    color: white;
    z-index: 10;
    background: #222222;
}

#raise-button-add-1{
    right: 20.5vw;
    border-radius: 0px 10px 10px 0px;
}

#raise-input{
    position: fixed;
    top: 81vh;
    right: 24.5vw;
    height: 4vh;
    width: 8vw;
    text-align: center;
    font-weight: bold;
    font-size: 2em;
    border-radius: 0px;
}
#raise-input-slider{
    position: fixed;
    top: 83.8vh;
    right: 24.5vw;
    width: 8vw;
    z-index: 9;

}

#raise-button-sub-1{
    right: 32.5vw;
    border-radius: 10px 0px 0px 10px;
}

.pot-raise-smaller-font{
    font-size: 1.6em;
    width: 7vw;
}
#raise-button-2-3{
    right: 38vw;
}
#raise-button-1-2{
    right: 46vw;
}
#raise-button-1-3{
    right: 54vw;
}
#all-in-button{
    right: 62vw;
    width: 8vw;
    font-size: 1.9em;
    background: #ffA50055;
}


#all-in-button:hover{
    background: #ffA500AA;

}



@media only screen and (max-width: 800px) {

    .big-button{
        border-radius: 8px;
        height: 7vh;
        width: 8vw;
        font-size: 0.5em;
    }

    .action-button{
        top: 75vh;
        border-radius: 10px;
        height: 7vh;
        width: 7.5vw;
        font-size: 0.6em;
        padding-top: 1vh;
    }

    #show-cards-button{
        width: 22vw;
        font-size: 0.7em;
    }

    #raise-button{
        right: 9vw;
        background: #9fffbb77;
        width: 10.5vw;
    }

    .raise-button-add-remove{
        height: 7vh;
        width: 4vw;
        font-size: 1em;
        padding-top: 0.1vh;
    }

    #raise-button-add-1{
        right: 20.5vw;
        border-radius: 0px 10px 10px 0px;
    }

    #raise-input{
        top: 75vh;
        right: 24.5vw;
        height: 4vh;
        width: 8vw;
        font-size: 0.8em;
        border-radius: 0px;
    }
    #raise-input-slider{
        top: 73.8vh;
    }

    .pot-raise-smaller-font{
        font-size: 0.6em;
        width: 7vw;
    }
    #raise-button-2-3{
        right: 37vw;
    }
    #raise-button-1-2{
        right: 45vw;
    }
    #raise-button-1-3{
        right: 53vw;
    }
    #all-in-button{
        right: 61vw;
        width: 5.5vw;
        font-size: 0.5em;
    }

}
