.big-button{
    border: 2px solid grey;
    border-radius: 15px;
    height: 7vh;
    width: 7.5vw;
    text-align: center;
    font-weight: bold;
    font-size: 2em;
    padding-top: 1.5vh;
}
.action-button{
    position: fixed;
    top: 81vh;
    border: 2px solid grey;
    border-radius: 15px;
    height: 7vh;
    width: 7.5vw;
    text-align: center;
    font-weight: bold;
    font-size: 2em;
    padding-top: 0.7vh;
    cursor: pointer;
}
.collapse-button{
    visibility: collapse;
}
.inactive-button{
    opacity: 60%;
    cursor: default;
}

.active-button:hover{
    cursor: pointer;
}

#show-cards-button{
    right: 1vw;
    width: 22vw;
    font-size: 2.2em;
    background: #1e90ff44;
}

#show-cards-button:hover{
    background: #1e90ff99;
}

#fold-button{
    right: 1vw;
    background: #cd5c5c77;
}

#fold-button:hover{
    background: #cd5c5cDD;
}

#check-fold-button{
    right: 2vw;
    width: 12.5vw;
    position: fixed;
    top: 81vh;
    border: 2px solid grey;
    border-radius: 15px;
    height: 7vh;
    text-align: center;
    font-weight: bold;
    font-size: 2em;
    padding-top: 0.7vh;
    cursor: pointer;
}

#check-fold-button:hover{
    background: #cd5c5cCC;
}
.check-fold-button-pressed{
    background: #cd5c5cFF;
}
.check-fold-button-not-pressed{
    background: #66666666;
}
#toggle-raise-button{
    right: 11vw;
    background: #9fcdbb77
}

#toggle-raise-button:hover{
    background: #9fcdbbDA
}

#check-button{
    right: 21vw;
    background: #155724AA;
    width: 9vw;
}
#check-button:hover{
    background: #155724FF
}

#call-button{
    right: 21vw;
    background: #325752AA;
    width: 9vw;
}

#call-button:hover{
    background: #325752FF
}

#toggle-raise-button-cancel{
    right: 1vw;
    background: #99999933;
}

#toggle-raise-button-cancel:hover{
    background: #9fcdbbDA
}

#raise-button{
    right: 9vw;
    background: #9fffbb77;
    width: 16.6vw;
}

#raise-button:hover{
    background: #9fffbbCC
}

.raise-button-add-remove{
    height: 7vh;
    width: 4vw;
    text-align: center;
    font-weight: bold;
    font-size: 1.7em;
    padding-top: 1vh;
    color: white;
    z-index: 10;
    background: #222222;
}

#raise-button-add{
    right: 23.5vw;
    border-radius: 0px 50px 50px 0px;
}

#raise-input{
    position: fixed;
    top: 81vh;
    right: 27.5vw;
    height: 4vh;
    width: 8vw;
    text-align: center;
    font-weight: bold;
    font-size: 2em;
    border-radius: 0px;
}
#raise-input-slider{
    position: fixed;
    top: 83.8vh;
    right: 27.5vw;
    width: 8vw;
    z-index: 9;

}

#raise-button-sub{
    right: 35.5vw;
    border-radius: 50px 0px 0px 50px;
}

#all-in-button{
    right: 40vw;
    width: 8vw;
    font-size: 1.9em;
    background: #ffA50055;
}


#all-in-button:hover{
    background: #ffA500AA;

}



@media only screen and (max-width: 800px) {

    .big-button{
        border-radius: 8px;
        height: 7vh;
        width: 8vw;
        font-size: 0.5em;
    }

    .action-button{
        top: 81vh;
        border-radius: 10px;
        height: 7.8vh;
        width: 7.5vw;
        font-size: 0.6em;
        padding-top: 1.3vh;
    }

    #show-cards-button{
        width: 22vw;
        font-size: 0.7em;
    }

    #raise-button{
        right: 9vw;
        background: #9fffbb77;
        width: 16vw;
    }

    .raise-button-add-remove{
        height: 7.8vh;
        width: 6vw;
        font-size: 1em;
        padding-top: 0.1vh;
    }

    #raise-button-add{
        right: 22vw;
    }
    #raise-input{
        top: 81vh;
        right: 27.5vw;
        height: 4vh;
        width: 10vw;
        font-size: 0.8em;
        border-radius: 0px;
    }
    #raise-input-slider{
        top: 80vh;
        right: 27.5vw;

        width: 10vw;
    }
    #raise-button-sub{
        right: 37.5vw;
    }


    #all-in-button{
        right: 45vw;
        width: 7.5vw;
        font-size: 0.5em;
    }


    #check-fold-button{
        right: 3vw;
        width: 20.5vw;
        position: fixed;
        top: 81vh;
        border: 2px solid grey;
        border-radius: 15px;
        height: 8vh;
        text-align: center;
        font-weight: bold;
        font-size: 1.2em;
        padding-top: 0.3vh;
        cursor: pointer;
    }

}
