#buttons{
    position: fixed;
    top: 78vh;
    right: 2vw;
    width: 83vw;
    border: 1px solid transparent;
    height: 30vh;

}
.big-button{
    border: 2px solid grey;
    border-radius: 15px;
    height: 8vh;
    width: 7.5vw;
    text-align: center;
    font-weight: bold;
    font-size: 2em;
    padding-top: 1.7vh;
}

.inactive-button{
    opacity: 60%;
    cursor: default;
}

.active-button{
    cursor: pointer;
}

.active-button:hover{
    background: #222222;
    cursor: pointer;
}
.disabled-button{
    opacity: 60%;
}

#fold-button{
    position: absolute;
    top: 0px;
    right: 0vw;
}

#fold-button:hover{
    background: indianred;
}

#show-cards-button{
    position: absolute;
    top: 0px;
    right: 5vw;
    width: 20vw;

}

#check-button{
    position: absolute;
    top: 0px;
    right: 12vw;
}

#call-button{
    position: absolute;
    top: 0px;
    right: 12vw;
}

#toggle-raise-button{
    position: absolute;
    top: 0px;
    right: 24vw;
}


#raise-buttons{
    position: fixed;
    bottom: 3vh;
    right: 1vw;
    /*border: 2px solid #eaeaea33;*/
    border-radius: 15px;
    height: 10vh;
    background: #eaeaea11;
}
#raise-button{
    position: absolute;
    top: 1vh;
    right: 1vw;
    height: 8vh;
    width: 11vw;
    text-align: center;
    font-weight: bold;
    font-size: 1.7em;
    padding-top: 1.7vh;
    background: forestgreen;
    border: 1px solid transparent;
}
.raise-button-add-remove{
    position: absolute;
    top: 1vh;
    height: 8vh;
    width: 4vw;
    text-align: center;
    font-weight: bold;
    font-size: 1.7em;
    padding-top: 1.7vh;
}
.raise-button-pot-ref{
    position: absolute;
    top: 1vh;
    height: 8vh;
    width: 5.5vw;
    text-align: center;
    font-weight: bold;
    font-size: 1.7em;
    padding-top: 1.7vh;
}

#raise-button-add-1{
    right: 13vw;
}

#raise-input{
    position: absolute;
    top: 1vh;
    right: 17.4vw;
    height: 8vh;
    width: 8vw;
    text-align: center;
    font-weight: bold;
    font-size: 3em;
    border-radius: 20px;
    padding-left: 1vw;
}

#raise-button-sub-1{
    right: 26vw;
}

#raise-button-2-3{
    right: 31vw;
}
#raise-button-1-2{
    right: 37vw;
}
#raise-button-1-3{
    right: 43vw;
}
#all-in-button{
    right: 50vw;
}



@media only screen and (max-width: 800px) {

    #buttons{
        position: fixed;
        top: 77vh;
        z-index: 30;
        width: 93vw;
        height: 30vh;
        right: 0.5vw;
    }
    .big-button{

        border-radius: 8px;
        height: 7vh;
        width: 8vw;
        font-size: 0.5em;

    }

    #show-cards-button{
        width: 17vw;
    }

    #check-button{
        position: absolute;
        top: 0px;
        right: 9vw;
    }

    #call-button{
        position: absolute;
        top: 0px;
        right: 18vw;
    }

    #toggle-raise-button{
        position: absolute;
        top: 0px;
        right: 27vw;
    }


    #raise-buttons{
        bottom: 7vh;
        right: 0.3vw;
        border-radius: 8px;
        height: 8vh;

    }
    #raise-button{
        position: absolute;
        height: 8vh;
        width: 8vw;
        font-size: 0.6em;
        padding-top: 1.7vh;
        background: forestgreen;
        border: 1px solid transparent;
    }
    .raise-button-add-remove{
        font-size: 0.6em;
        padding-top: 1.3vh;
        width: 5vw;
    }
    .raise-button-pot-ref{
        position: absolute;
        top: 1vh;
        height: 7vh;
        width: 8.5vw;
        text-align: center;
        font-weight: bold;
        font-size: 0.6em;
        padding-top: 1vh;
    }

    #raise-button-add-1{
        right: 10.5vw;
    }

    #raise-input{

        top: 1vh;
        right: 16vw;
        height: 7vh;
        width: 9vw;
        font-size: 0.85em;
        border-radius: 10px;

    }

    #raise-button-sub-1{
        right: 25.5vw;
    }

    #raise-button-2-3{
        right: 30.9vw;
    }
    #raise-button-1-2{
        right: 40.1vw;
    }
    #raise-button-1-3{
        right: 49.5vw;
    }
    #all-in-button{
        right: 58.6vw;
        width: 8.1vw;
    }
}
