#game-settings-modal{
    z-index: 99;
    position: fixed;
    width: 88vw;
    height: 89vh;
    top: 10vh;
    left: 1vw;
    background: #000000BB;
    padding: 20px;
    border: 2px solid white;
    border-radius: 20px;
    color: white;
}
#game-settings-modal-close-x{
    font-size: 3em;
    font-weight: bold;
    font-family: fantasy;
    cursor: pointer;
    z-index: 100;
    position: fixed;
    top: 11vh;
    left: 2vw;
}
#game-settings-modal-title{
    font-size: 2.8em;
    text-align: center;
    color: white;
    font-weight: bold;
    text-decoration: underline;
    margin-bottom: 1.8vh;
}
.game-settings-item{
    margin-bottom: 2.5vh;
}

.game-settings-label{
    font-size: 1.8em;
    margin-left: 2vw;
    margin-right: 2vw;
}
.game-settings-secondary-label{
    font-size: 1.8em;
    margin-left: 0.5vw;
    margin-right: 2vw;
}
.game-settings-input{
    font-size: 1.8em;
    margin-right: 0.5vw;
    width: 8vw;
    text-align: center;
    border-radius: 10px;
}
#game-settings-save-button{
    width: 23vw;
    font-size: 2.5em;
    text-align: center;
    border: 1px solid white;
    border-radius: 8px;
    position: fixed;
    top: 55vh;
    left: 10vw;
}
.game-settings-save-button{
    cursor: pointer;
    background: green;
    color: white;
}
#force-skip-hand-button{
    background: orangered;
    color: white;

    text-align: center;
    border: 2px solid white;
    border-radius: 10px;
    width: 23vw;
    font-size: 2.5em;

    position: fixed;
    top: 55vh;
    left: 40vw;
}
#pending-requests{
    background: #777777;
    border: 2px solid white;
    border-radius: 20px;
    position: fixed;
    top: 65vh;
    left: 2vw;
    width: 86vw;
    height: 31.6vh;
}
#pending-requests-header{
    padding-top: 5px;
    margin-left: 19px;
    margin-bottom: 15px;
    font-size: 2em;
    color: black;
    text-decoration: underline;
    font-weight: bold;
    height: 4vh;
}
#pending-requests-body{
    padding-left: 15px;
    font-size: 2em;
    color: #333333;
    overflow-y: scroll;
    height: 25vh;
}
.pending-name{
    color: purple;
    font-weight: bold;
}
.pending-number{
    color: #16181b;
    font-weight: bold;
}
.approve-pending{
    margin-left: 10px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border: 1px solid white;
    border-radius: 7px;
    padding: 1px 3px 1px 3px;
    background: darkgreen;
}
.decline-pending{
    margin-left: 10px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    background: darkred;
    border: 1px solid white;
    border-radius: 7px;
    padding: 1px 5px 1px 3px;
}
#select-admin-label{
    color: white;
    font-size: 2em;
}
#select-admin-dropdown{
    background: white;
    color: black;
    width: 14vw;
    border-radius: 8px;
    padding: 10px 0px 5px 20px;
    height: 3.5vh;
    font-size: 2em;
}
#move-admin-section{
    background: white;
    color: black;
}

.underline{
    padding-bottom: 5px;
    border-bottom: 1px solid white;
}
@media only screen and (max-width: 800px) {

    #game-settings-modal{
        background: black;
        position: fixed;
        width: 98vw;
        height: 99vh;
        top: 0.2vh;
        left: 1vw;
        padding: 13px;
        border-radius: 10px;
    }
    #game-settings-modal-close-x{
        font-size: 3em;
        top: 1.4vh;
        left: 92.4vw;
    }
    #game-settings-modal-title{
        font-size: 1.8em;
        margin-bottom: 2vh;
    }
    .game-settings-item{
        margin-bottom: 1.4vh;
    }
    .game-settings-label{
        font-size: 1.5em;
    }
    .game-settings-secondary-label{
        font-size: 1.5em;
    }
    .game-settings-input{
        font-size: 1.5em;
        width: 15vw;
        height: 8vh;
    }
    #select-admin-dropdown{
        width: 29vw;
        padding: 10px 0px 15px 20px;
        font-size: 1.4em;

        height: 3.4vh;
    }
    #move-admin-section{
        background: white;
        color: black;
    }


    #game-settings-save-button{

        cursor: pointer;
        width: 37vw;
        font-size: 1.5em;
        background: green;
        color: white;
        text-align: center;
        border: 1px solid white;
        border-radius: 8px;
        top: 63vh;
        left: 5vw;
    }
    #force-skip-hand-button{
        background: orangered;
        color: white;
        width: 35vw;
        font-size: 1.5em;
        text-align: center;
        border: 1px solid white;
        border-radius: 10px;
        top: 63vh;
        left: 48vw;
    }

    #pending-requests{
        border: 1px solid white;
        padding-left: 5px;
        border-radius: 10px;
        top: 74vh;
        left: 4vw;
        height: 23vh;
        padding-bottom: 4px;
    }

    #pending-requests-header{
        padding-top: 1px;
        padding-left: 5px;
        margin-bottom: 10px;
        font-size: 1em;
        color: black;
        text-decoration: underline;
        font-weight: bold;
        height: 3vh;
    }
    #pending-requests-body{
        padding-left: 5px;
        font-size: 0.85em;
        color: #333333;
        overflow-y: scroll;
        height: 17vh;

    }
    .pending-row{
        margin-bottom: 4px;
    }
    .approve-pending{
        margin-left: 4px;
        color: white;
        font-weight: normal;

        cursor: pointer;
        border: 1px solid white;
        border-radius: 7px;
        padding: 1px 2px 1px 2px;
        background: darkgreen;
    }
    .decline-pending{
        margin-left: 4px;
        color: white;
        font-weight: normal;
        cursor: pointer;
        background: darkred;
        border: 1px solid white;
        border-radius: 7px;
        padding: 1px 3px 1px 2px;
    }
}
