#join-screen{
    margin-top: 4px;
    background: transparent;
    color: white;
    width: 100vw;
    padding-left: 1vw;
    padding-right: 1vw;
    padding-top: 10px;
    position:fixed;
}

#join-game-section{
    position: fixed;
    top: 13vh;
    left: 2vw;
    background: #111111;
    border: 4px solid grey;
    border-radius: 25px;
    height: 70vh;
    width: 50vw;
    padding: 20px;
    z-index: 1;
    margin-right: 2vw;
    font-size: 1.7em;
}

#join-game-section header{
   font-size: 2.6em;
    text-align: center;
}

#join-game-section div{
    margin-top: 2vh
}

#join-screen #join-button-div{
    position: fixed;
    top: 65vh;
    height: 10vh;
    margin-top: 10px;
    font-weight: bold;
    font-size: 2em;
    text-align: center;
    width: 50vw;
    left: 2vw;
}

#join-screen #join-button{
    padding: 5px 10px;
    border: 2px solid white;
    border-radius: 10px;
    background: #155724;
}
#join-screen #join-button-full-game-div{
    position: fixed;
    top: 65vh;
    height: 10vh;
    margin-top: 10px;
    font-weight: bold;
    font-size: 3em;
    text-align: center;
    width: 50vw;
    left: 2vw;
}

#join-screen #join-button-full-game{
    padding: 5px 10px;
    border: 1px solid white;
    border-radius: 10px;
    background: red;
    color: black;
}

#join-screen #join-button:hover{
    background: #5a626844;
    cursor: pointer;
}

#existing-players{
    position: fixed;
    top: 13vh;
    left: 57vw;
    height: 70vh;
    width: 40vw;
    background: #111111;
    border: 4px solid grey;
    border-radius: 25px;
    padding: 20px;
    z-index: 1;
}
.greyPlayer{
    background: #5a6268;

}
.whitePlayer{
    background: grey;
}
.existing-player{
    width: 100%;
    padding-left: 20px;
    margin: 1px;
    cursor: pointer;

}
.existing-player:hover{
    padding-left: 20px;
    background: #9fcdff;

}

#existing-players-list{
    background: #050505;
    margin-top: 1vh;
    font-size: 2em;
}
.join-game-input{
    margin-bottom: 15px;
    padding-left: 15px;
    border-radius: 6px;
}
@media only screen and (max-width: 800px) {

    #join-screen{
        padding-left: 1vw;
        padding-right: 1vw;
        padding-top: 10px;
    }

    #join-game-section{

        top: 13vh;
        left: 2vw;
        border-radius: 25px;
        height: 80vh;
        width: 50vw;
        padding: 10px;
        margin-right: 2vw;
        font-size: 1em;
    }

    #join-game-section header{
        font-size: 1.6em;
    }

    #join-game-section div{
        margin-top: 1.4vh
    }

    #join-screen #join-button-div{
        font-size: 1.3em;
        top: 27vh;
        left:19vw;
    }

    #join-screen #join-button{
        border-radius: 10px;
        background-image: linear-gradient(green, #155724);

    }
    #join-screen #join-button-full-game-div{
        font-size: 1.1em;
        top: 74vh;
        height: 10vh;
    }


    #existing-players{
        top: 13vh;
        left: 57vw;
        height: 80vh;
        width: 40vw;
        border-radius: 25px;
        padding: 10px;

    }

    #existing-players-list{
        font-size: 1em;
    }
    .join-game-input{
        margin-bottom: 10px;
        padding-left: 15px;
        border-radius: 6px;
    }
}
