#join-screen{
    margin-top: 4px;
    background: transparent;
    color: white;
    width: 100vw;
    padding-left: 7vw;
    padding-right: 15vw;
    padding-top: 10px;

    position:relative;
}


#join-screen #two-sections{
    margin-top: 10vh;
    border: 5px solid transparent;
    height: 80vh;
}

#join-game-section{
    background: #111111;
    border: 4px solid grey;
    border-radius: 10px;
    height: 76vh;
    width: 60%;
    padding: 20px;
    z-index: 1;
    margin-right: 2vw;
    font-size: 1.7em;
}

#join-game-section header{
   font-size: 2.6em;
}

#join-game-section div{
margin-top: 2vh
}

#join-screen #join-button-div{
    margin-top: 10px;
    font-weight: bold;
    font-size: 2em;
    text-align: center;
}

#join-screen #join-button{
    padding: 5px 10px;
    border: 1px solid white;
    border-radius: 10px;
}
#join-screen #join-button-full-game-div{
    margin-top: 10px;
    font-weight: bold;
    font-size: 3.8em;
    text-align: center;

}

#join-screen #join-button-full-game{
    padding: 5px 10px;
    border: 1px solid white;
    border-radius: 10px;
    background: red;
    color: black;
}

#join-screen #join-button:hover{
    background: #5a626844;
    cursor: pointer;
}

#existing-players{
    background: #111111;
    border: 4px solid grey;
    border-radius: 10px;

    width: 33%;
    height: 76vh;
    padding: 20px;
    z-index: 1;
}
.greyPlayer{
    background: #5a6268;

}
.whitePlayer{
    background: grey;
}
.existing-player{
    width: 100%;
    padding-left: 20px;
    margin: 1px;
    cursor: pointer;

}
.existing-player:hover{
    padding-left: 20px;
    background: #9fcdff;

}

#existing-players-list{
    background: #050505;
    margin-top: 1vh;
    font-size: 2em;
}
.join-game-input{
    margin-bottom: 15px;
    padding-left: 15px;
    border-radius: 6px;
}
@media only screen and (max-width: 800px) {
    #join-screen{
        padding-left: 2vw;
        padding-right: 2vw;
    }
    #join-game-section header{
        font-size: 1em;
    }

    #join-game-section div{
        margin-top: 0.2vh;
        font-size: 0.5em;
    }

    #join-screen #two-sections{
        margin-top: 8vh;
    }

    #join-game-section{
        border: 2px solid grey;
        height: 82vh;
        width: 60%;
        padding: 20px;
        z-index: 1;
        margin-right: 2vw;
    }

    #join-screen #join-button-div{
        margin-top: 10px;
        font-size: 1.8em;
    }


    #join-screen #join-button-full-game-div{
        font-size: 2em;
    }


    #existing-players{
        border: 2px solid grey;
        width: 35%;
        height: 82vh;
        padding: 20px;
        z-index: 1;
    }


    #existing-players-list{
        font-size: 1em;
    }
    #join-game-inputs{
        font-size: 0.8em;
    }
    #join-game-inputs input{
        margin-bottom: 5px;
        padding-left: 10px;
        border-radius: 2px;

    }
}
