.dealer-button{
    position: absolute;
    z-index: 33;
    border: 1px solid #00000099;
    border-radius: 50%;
    width: 2.2vw;
    height: 2.2vw;
    padding-top: 0.24vw;
    text-align: center;
    font-size: 1.3em;
    font-weight: bold;
    background: white;
    color: black;
}

#player1{
    top:65vh;
    left:44vw;
}
@keyframes player1-first-card-texas-anim {
    from {
        top: 44.7vh;
        left:46.2vw;
        transform: rotate(0deg);
    }
    to {
        top:65vh;
        left:44vw;
        transform: rotate(-8deg);
    }
}
#player1-first-card-texas{
    z-index: 30;
    transform: rotate(-8deg);
    position: fixed;
    top:65vh;
    left:44vw;
    animation-name: player1-first-card-texas-anim;
    animation-duration: 2s;
    animation-delay: 0s;
    animation-fill-mode: both;
}
#player1-first-card-texas-no-anim{
    z-index: 30;
    transform: rotate(-8deg);
    position: fixed;
    top:65vh;
    left:44vw;
}

@keyframes player1-second-card-texas-anim {
    from {
        top: 44.7vh;
        left:46.2vw;
        transform: rotate(0deg);
    }
    to {
        top:65vh;
        left:47vw;
        transform: rotate(8deg);
    }
}
#player1-second-card-texas{
    z-index: 30;
    transform: rotate(8deg);
    position: fixed;
    top:65vh;
    left:47vw;
    animation-name: player1-second-card-texas-anim;
    animation-duration: 2s;
    animation-delay: 0.5s;
    animation-fill-mode: both;

}
#player1-second-card-texas-no-anim{
    z-index: 30;
    transform: rotate(8deg);
    position: fixed;
    top:65vh;
    left:47vw;
}

#player1-pot-mid{
    position: fixed;
    z-index: 33;
    top:57.6vh;
    left:47.5vw;

}
@keyframes player1-pot-end-anim {
    from {
        top: 24vh;
        left: 44vw;
    }
    to {
        top:57.6vh;
        left:47.5vw;
    }
}
#player1-pot-end{
    position: fixed;
    z-index: 33;
    top:57.6vh;
    left:47.5vw;
    animation-name: player1-pot-end-anim;
    animation-duration: 2.5s;
    animation-delay: 0s;
    animation-fill-mode: both;
}

#dealer-button-1{
    top:-6.4vh;
    left:8.5vw;
}

#player2{
    top:61vh;
    left:23vw;
}
@keyframes player2-first-card-texas-anim {
    from {
        top: 44.7vh;
        left:46.2vw;
        transform: rotate(0deg);
    }
    to {
        top:61vh;
        left:23vw;
        transform: rotate(-8deg);
    }
}
#player2-first-card-texas{
    z-index: 30;
    transform: rotate(-8deg);
    position: fixed;
    top:61vh;
    left:23vw;
    animation-name: player2-first-card-texas-anim;
    animation-duration: 2s;
    animation-delay: 0s;
    animation-fill-mode: both;
}
#player2-first-card-texas-no-anim{
    z-index: 30;
    transform: rotate(-8deg);
    position: fixed;
    top:61vh;
    left:23vw;
}
@keyframes player2-second-card-texas-anim {
    from {
        top: 44.7vh;
        left:46.2vw;
        transform: rotate(0deg);
    }
    to {
        top:61vh;
        left:26vw;
        transform: rotate(8deg);
    }
}
#player2-second-card-texas{
    z-index: 30;
    transform: rotate(8deg);
    position: fixed;
    top:61vh;
    left:26vw;
    animation-name: player2-second-card-texas-anim;
    animation-duration: 2s;
    animation-delay: 0.5s;
    animation-fill-mode: both;

}
#player2-second-card-texas-no-anim{
    z-index: 30;
    transform: rotate(8deg);
    position: fixed;
    top:61vh;
    left:26vw;
    animation-name: player2-second-card-texas-anim;

}
#player2-pot-mid{
    position: fixed;
    z-index: 33;
    top:54.2vh;
    left:30vw;
}
@keyframes player2-pot-end-anim {
    from {
        top: 24vh;
        left: 44vw;
    }
    to {
        top:54.2vh;
        left:30vw;
    }
}
#player2-pot-end{
    position: fixed;
    z-index: 33;
    top:54.2vh;
    left:30vw;
    animation-name: player2-pot-end-anim;
    animation-duration: 2.5s;
    animation-delay: 0s;
    animation-fill-mode: both;
}
#dealer-button-2{
    top:-6.8vh;
    left:4vw;
}

#player3{
    top:36vh;
    left:9vw;
}
@keyframes player3-first-card-texas-anim {
    from {
        top: 44.7vh;
        left:46.2vw;
        transform: rotate(0deg);
    }
    to {
        top:36vh;
        left:9vw;
        transform: rotate(-8deg);
    }
}
#player3-first-card-texas{
    z-index: 30;
    transform: rotate(-8deg);
    position: fixed;
    top:36vh;
    left:9vw;
    animation-name: player3-first-card-texas-anim;
    animation-duration: 2s;
    animation-delay: 0s;
    animation-fill-mode: both;

}
#player3-first-card-texas-no-anim{
    z-index: 30;
    transform: rotate(-8deg);
    position: fixed;
    top:36vh;
    left:9vw;

}
@keyframes player3-second-card-texas-anim {
    from {
        top: 44.7vh;
        left:46.2vw;
        transform: rotate(0deg);
    }
    to {
        top:36vh;
        left:12vw;
        transform: rotate(8deg);
    }
}
#player3-second-card-texas{
    z-index: 30;
    transform: rotate(8deg);
    position: fixed;
    top:36vh;
    left:12vw;
    animation-name: player3-second-card-texas-anim;
    animation-duration: 2s;
    animation-delay: 0.5s;
    animation-fill-mode: both;
}

#player3-second-card-texas-no-anim{
    z-index: 30;
    transform: rotate(8deg);
    position: fixed;
    top:36vh;
    left:12vw;
}

#player3-pot-mid{
    position: fixed;
    top:46.82vh;
    left:19.4vw;
    z-index: 33;

}
@keyframes player3-pot-end-anim {
    from {
        top: 24vh;
        left: 44vw;
    }
    to {
        top:46.82vh;
        left:19.4vw;
    }
}
#player3-pot-end{
    position: fixed;
    z-index: 33;
    top:46.82vh;
    left:19.4vw;
    animation-name: player3-pot-end-anim;
    animation-duration: 2.5s;
    animation-delay: 0s;
    animation-fill-mode: both;

}
#dealer-button-3{
    top:8.82vh;
    left:15.4vw;
}
#player4{
    top:14vh;
    left:23vw;
}
@keyframes player4-first-card-texas-anim {
    from {
        top: 44.7vh;
        left:46.2vw;
        transform: rotate(0deg);
    }
    to {
        top:14vh;
        left:23vw;
        transform: rotate(-8deg);
    }
}
#player4-first-card-texas{
    z-index: 30;
    transform: rotate(-8deg);
    position: fixed;
    top:14vh;
    left:23vw;
    animation-name: player4-first-card-texas-anim;
    animation-duration: 2s;
    animation-delay: 0s;
    animation-fill-mode: both;
}
#player4-first-card-texas-no-anim{
    z-index: 30;
    transform: rotate(-8deg);
    position: fixed;
    top:14vh;
    left:23vw;
}
@keyframes player4-second-card-texas-anim {
    from {
        top: 44.7vh;
        left:46.2vw;
        transform: rotate(0deg);
    }
    to {
        top:14vh;
        left:26vw;
        transform: rotate(8deg);
    }
}
#player4-second-card-texas{
    z-index: 30;
    transform: rotate(8deg);
    position: fixed;
    top:14vh;
    left:26vw;
    animation-name: player4-second-card-texas-anim;
    animation-duration: 2s;
    animation-delay: 0.5s;
    animation-fill-mode: both;

}


#player4-second-card-texas-no-anim{
    z-index: 30;
    transform: rotate(8deg);
    position: fixed;
    top:14vh;
    left:26vw;
}



#player4-pot-mid{
    position: fixed;
    z-index: 33;
    top:25.6vh;
    left:31.5vw;

}
@keyframes player4-pot-end-anim {
    from {
        top: 24vh;
        left: 44vw;
    }
    to {
        top:25.6vh;
        left:31.5vw;
    }
}
#player4-pot-end{
    position: fixed;
    z-index: 33;
    top:25.6vh;
    left:31.5vw;
    animation-name: player4-pot-end-anim;
    animation-duration: 2.5s;
    animation-delay: 0s;
    animation-fill-mode: both;

}
#dealer-button-4{
    top:11.6vh;
    left:13.5vw;
}
#player5{
    top:9vh;
    left:44vw;
}
@keyframes player5-first-card-texas-anim {
    from {
        top: 44.7vh;
        left:46.2vw;
        transform: rotate(0deg);
    }
    to {
        top:9vh;
        left:44vw;
        transform: rotate(-8deg);
    }
}
#player5-first-card-texas{
    z-index: 30;
    transform: rotate(-8deg);
    position: fixed;
    top:9vh;
    left:44vw;
    animation-name: player5-first-card-texas-anim;
    animation-duration: 2s;
    animation-delay: 0s;
    animation-fill-mode: both;

}
#player5-first-card-texas-no-anim{
    z-index: 30;
    transform: rotate(-8deg);
    position: fixed;
    top:9vh;
    left:44vw;
}
@keyframes player5-second-card-texas-anim {
    from {
        top: 44.7vh;
        left:46.2vw;
        transform: rotate(0deg);
    }
    to {
        top:9vh;
        left:47vw;
        transform: rotate(8deg);
    }
}
#player5-second-card-texas{
    z-index: 30;
    transform: rotate(8deg);
    position: fixed;
    top:9vh;
    left:47vw;
    animation-name: player5-second-card-texas-anim;
    animation-duration: 2s;
    animation-delay: 0.5s;
    animation-fill-mode: both;

}

#player5-second-card-texas-no-anim{
    z-index: 30;
    transform: rotate(8deg);
    position: fixed;
    top:9vh;
    left:47vw;
}

#player5-pot-mid{
    position: fixed;
    z-index: 33;
    top:20.3vh;
    left:52.2vw;

}
@keyframes player5-pot-end-anim {
    from {
        top: 24vh;
        left: 44vw;
    }
    to {
        top:20.3vh;
        left:52.2vw;
    }
}
#player5-pot-end{
    position: fixed;
    z-index: 33;
    top:20.3vh;
    left:52.2vw;
    animation-name: player5-pot-end-anim;
    animation-duration: 2.5s;
    animation-delay: 0s;
    animation-fill-mode: both;

}
#dealer-button-5{
    top:12vh;
    left:13.2vw;
}
#player6{
    top:14vh;
    left:66vw;
}
@keyframes player6-first-card-texas-anim {
    from {
        top: 44.7vh;
        left:46.2vw;
        transform: rotate(0deg);
    }
    to {
        top:14vh;
        left:66vw;
        transform: rotate(-8deg);
    }
}
#player6-first-card-texas{
    z-index: 30;
    transform: rotate(-8deg);
    position: fixed;
    top:14vh;
    left:66vw;
    animation-name: player6-first-card-texas-anim;
    animation-duration: 2s;
    animation-delay: 0s;
    animation-fill-mode: both;

}
#player6-first-card-texas-no-anim{
    z-index: 30;
    transform: rotate(-8deg);
    position: fixed;
    top:14vh;
    left:66vw;

}
@keyframes player6-second-card-texas-anim {
    from {
        top: 44.7vh;
        left:46.2vw;
        transform: rotate(0deg);
    }
    to {
        top:14vh;
        left:69vw;
        transform: rotate(8deg);
    }
}
#player6-second-card-texas{
    z-index: 30;
    transform: rotate(8deg);
    position: fixed;
    top:14vh;
    left:69vw;
    animation-name: player6-second-card-texas-anim;
    animation-duration: 2s;
    animation-delay: 0.5s;
    animation-fill-mode: both;

}
#player6-second-card-texas-no-anim{
    z-index: 30;
    transform: rotate(8deg);
    position: fixed;
    top:14vh;
    left:69vw;
}

#player6-pot-mid{
    position: fixed;
    z-index: 33;
    top:23.5vh;
    left:61.8vw;

}
@keyframes player6-pot-end-anim {
    from {
        top: 24vh;
        left: 44vw;
    }
    to {
        top:23.5vh;
        left:61.8vw;
    }
}
#player6-pot-end{
    position: fixed;
    z-index: 33;
    top:23.5vh;
    left:61.8vw;
    animation-name: player6-pot-end-anim;
    animation-duration: 2.5s;
    animation-delay: 0s;
    animation-fill-mode: both;

}
#dealer-button-6{
    top:14vh;
    left:0vw;
}
#player7{
    top:36vh;
    left:80vw;
}
@keyframes player7-first-card-texas-anim {
    from {
        top: 44.7vh;
        left:46.2vw;
        transform: rotate(0deg);
    }
    to {
        top:36vh;
        left:80vw;
        transform: rotate(-8deg);
    }
}
#player7-first-card-texas{
    z-index: 30;
    transform: rotate(-8deg);
    position: fixed;
    top:36vh;
    left:80vw;
    animation-name: player7-first-card-texas-anim;
    animation-duration: 2s;
    animation-delay: 0s;
    animation-fill-mode: both;

}
#player7-first-card-texas-no-anim{
    z-index: 30;
    transform: rotate(-8deg);
    position: fixed;
    top:36vh;
    left:80vw;
}
@keyframes player7-second-card-texas-anim {
    from {
        top: 44.7vh;
        left:46.2vw;
        transform: rotate(0deg);
    }
    to {
        top:36vh;
        left:83vw;
        transform: rotate(8deg);
    }
}
#player7-second-card-texas{
    z-index: 30;
    transform: rotate(8deg);
    position: fixed;
    top:36vh;
    left:83vw;
    animation-name: player7-second-card-texas-anim;
    animation-duration: 2s;
    animation-delay: 0.5s;
    animation-fill-mode: both;

}

#player7-second-card-texas-no-anim{
    z-index: 30;
    transform: rotate(8deg);
    position: fixed;
    top:36vh;
    left:83vw;

}

#player7-pot-mid{
    position: fixed;
    z-index: 33;
    top:41.5vh;
    left:75.1vw;
}
@keyframes player7-pot-end-anim {
    from {
        top: 24vh;
        left: 44vw;
    }
    to {
        top:41.5vh;
        left:75.1vw;
    }
}
#player7-pot-end{
    position: fixed;
    z-index: 33;
    top:41.5vh;
    left:75.1vw;
    animation-name: player7-pot-end-anim;
    animation-duration: 2.5s;
    animation-delay: 0s;
    animation-fill-mode: both;
}
#dealer-button-7{
    top:0.7vh;
    left:-2.7vw;
}
#player8{
    top:61vh;
    left:66vw;
}
@keyframes player8-first-card-texas-anim {
    from {
        top: 44.7vh;
        left:46.2vw;
        transform: rotate(0deg);
    }
    to {
        top:61vh;
        left:66vw;
        transform: rotate(-8deg);
    }
}
#player8-first-card-texas{
    z-index: 30;
    transform: rotate(-8deg);
    position: fixed;
    top:61vh;
    left:66vw;
    animation-name: player8-first-card-texas-anim;
    animation-duration: 2s;
    animation-delay: 0.5s;
    animation-fill-mode: both;

}
#player8-first-card-texas-no-anim{
    z-index: 30;
    transform: rotate(-8deg);
    position: fixed;
    top:61vh;
    left:66vw;

}
@keyframes player8-second-card-texas-anim {
    from {
        top: 44.7vh;
        left:46.2vw;
        transform: rotate(0deg);
    }
    to {
        top:61vh;
        left:69vw;
        transform: rotate(8deg);
    }
}
#player8-second-card-texas{
    z-index: 30;
    transform: rotate(8deg);
    position: fixed;
    top:61vh;
    left:69vw;
    animation-name: player8-second-card-texas-anim;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-fill-mode: both;

}


#player8-second-card-texas-no-anim{
    z-index: 30;
    transform: rotate(8deg);
    position: fixed;
    top:61vh;
    left:69vw;

}




#player8-pot-mid{
    position: fixed;
    z-index: 33;
    top:54.6vh;
    left:64.7vw;
}
@keyframes player8-pot-end-anim {
    from {
        top: 24vh;
        left: 44vw;
    }
    to {
        top:54.6vh;
        left:64.7vw;
    }
}
#player8-pot-end{
    position: fixed;
    z-index: 33;
    top:54.6vh;
    left:64.7vw;
    animation-name: player8-pot-end-anim;
    animation-duration: 2.5s;
    animation-delay: 0s;
    animation-fill-mode: both;
}
#dealer-button-8 {
    top: -7.4vh;
    left: 3.3vw;
}
.player{
    position: absolute;
    width: 13vw;
    height: 10vh;
    z-index: 3;
}

.active-player{
    background: rgba(232,174,0,0.53);
    -webkit-box-shadow: 6px 8px 35px 24px rgba(232,174,0,0.58);
    -moz-box-shadow: 6px 8px 35px 24px rgba(232,174,0,0.58);
    box-shadow: 6px 8px 35px 24px rgba(232,174,0,0.58);
    border-radius: 35%;
}

.player-div{
    position:relative;
}

.player-info{
    z-index: 19;
    border-radius: 5px;
    position: absolute;
    left: 5.2vw;
    width: 9.7vw;
    height: 10vh;
    background: white;
    font-size: 1.3em;
    padding-top: 1vh;
    padding-left: 6vh;
    border: 1px solid black;
    color: #6c757d;;
}
.active-player-info{
    background: #ffff3399;
    border: 4px solid black;
    color: black;
    font-weight: bold;
    border-radius: 15px;

}
.winner-player{
    background: #44ffff99;
    border: 4px solid #3333ff;
    color: black;
    font-weight: bold;
    border-radius: 15px;
}



#small-blind-button{
    z-index: 22;
    border-radius: 50%;
    position: absolute;
    left: 12.1vw;
    width: 2vw;
    height: 2vw;
    top:-1.5vh;
    background: #9fcdff;
    color: black;
    font-size: 1em;
    padding-top: 0.35vw;
    padding-left: 0.47vw;
}

#big-blind-button{
    z-index: 22;
    border-radius: 50%;
    position: absolute;
    left: 12.1vw;
    width: 2vw;
    height: 2vw;
    top:-1.5vh;
    background: #9fcdbb;
    color: black;
    font-size: 1em;
    padding-top: 0.35vw;
    padding-left: 0.47vw;
}

.player-pot{
    position: absolute;
    width: 5.8vw;
    height: 2.7vw;
    border-radius: 25px;
    font-weight: bold;
    font-size: 1.9em;
    padding-top: 1px;
    alignment: center;
    text-align: center;
}

.player-pot-mid-hand{
    background: #eec117;
    color: white;

    z-index: 2;
}



.player-pot-hand-over{
    background: cornflowerblue;
    color: black;
    z-index: 35;
    border: 3px solid black;
    width: 8vw;
    height: 4vw;
    font-size: 2.6em;

}

.player-status{
    position: absolute;
    width: 4vw;
    height: 1.8vw;
    border-radius: 20px;
    background: #117a8b;
    color: white;
    font-weight: bold;
    font-size: 1.3em;
    z-index: 30;
    padding-top: 3px;
    alignment: center;
    text-align: center;
    top:9.7vh;
    left:1.1vw;
}

.player-offline-indication{
    position: absolute;
    width: 8vw;
    height: 2.2vw;
    border-radius: 10px;
    background: red;
    color: white;
    font-weight: bold;
    font-size: 1.5em;
    z-index: 11;
    padding-top: 3px;
    alignment: center;
    text-align: center;
    top:11.7vh;
    left:0vw;
}
.kickOut-button{
    position: absolute;
    width: 5.5vw;
    height: 1.1vw;
    font-weight: bold;
    border-radius: 0px 0px 10px 10px;
    background: white;
    color: orangered;
    font-size: 0.6em;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    z-index: 41;
    alignment: center;
    text-align: center;
    top:9.7vh;
    left:9.4vw;
    cursor: pointer;
}
.force-action-button{
    color: black;
    background: #ffff3399;
    border-bottom: 3px solid black;
    border-left: 3px solid black;
    border-right: 3px solid black;
    padding-top: 0.4vh;
}
.player-sitOut-indication{
    position: absolute;
    width: 15vw;
    height: 2.2vw;
    border-radius: 10px;
    background: black;
    color: white;
    font-weight: bold;
    font-size: 1.5em;
    z-index: 12;
    padding-top: 3px;
    alignment: center;
    text-align: center;
    top:13.7vh;
    left:0vw;
}

.player-hand-description{
    position: absolute;
    width: 11vw;
    height: 2vw;
    border-radius: 10px;
    background: white;
    color: black;
    font-weight: bold;
    font-size: 1.2em;
    z-index: 10;
    padding-top: 3px;
    alignment: center;
    text-align: center;
    top:11.6vh;
    left:0vw;
}
@keyframes player-hand-description-anim {
    from {
        top:0.6vh;
        left:2vw;
        width: 1vw;
        font-size: 0.01em;
        color: white;
    }
    to {
        top:11.6vh;
        left:0vw;
        width: 11vw;
        font-size: 1.2em;
        color: black;
    }
}

.player-hand-description-at-game-phase-1{
    animation-name: player-hand-description-anim;
    animation-duration: 0.9s;
    animation-delay: 1.3s;
    animation-fill-mode: both;
}
.player-hand-description-at-game-phase-2{
    animation-name: player-hand-description-anim;
    animation-duration: 0.9s;
    animation-delay: 1.3s;
    animation-fill-mode: both;
}
.player-hand-description-at-game-phase-3{
    animation-name: player-hand-description-anim;
    animation-duration: 0.9s;
    animation-delay: 1.3s;
    animation-fill-mode: both;
}
@media only screen and (max-width: 800px) {


    .player{
        width: 13vw;
        height: 10vh;
    }

    .active-player{
        background: rgba(232,174,0,0.53);
        -webkit-box-shadow: 6px 8px 35px 24px rgba(232,174,0,0.58);
        -moz-box-shadow: 6px 8px 35px 24px rgba(232,174,0,0.58);
        box-shadow: 6px 8px 35px 24px rgba(232,174,0,0.58);
        border-radius: 35%;
    }
    .player-info{
        border-radius: 5px;
        left: 5.2vw;
        width: 9.7vw;
        height: 10vh;
        background: white;
        font-size: 0.6em;
        padding-top: 1vh;
        padding-left: 5vh;
    }
    .active-player-info{
        background: #ffff33;
        border: 1px solid black;
        color: black;
        font-weight: bold;
        border-radius: 15px;

    }
    .winner-player{
        background: #44ffff99;
        border: 1px solid #3333ff;
        color: black;
        font-weight: bold;
        border-radius: 15px;
    }


    .dealer-button{
        font-size: 0.5em;
    }

    #small-blind-button{
        font-size: 0.3em;
    }

    #big-blind-button{
        font-size: 0.3em;
    }

    .player-pot{
        font-size: 0.5em;
    }

    .player-status{
        width: 5vw;
        height: 1.9vw;
        border-radius: 20px;
        background: #117a8b;
        color: white;
        font-weight: bold;
        font-size: 0.4em;
        z-index: 30;
        padding-top: 0px;
        alignment: center;
        text-align: center;
        top:9.2vh;
        left:1.1vw;
    }

    .player-offline-indication{
        padding-top: 0px;
        font-size: 0.5em;
    }
    .player-sitOut-indication{
        padding-top: 0px;
        font-size: 0.5em;
    }

    .player-hand-description{
        top:12vh;
        padding-top: 1px;
        font-size: 0.3em;
        width: 13vw;
        color: black;
    }

    #player1{
        top:62vh;
        left:44vw;
    }

    #player1-pot{
        top:-7.4vh;
        left:3.5vw;
    }

    #player2{
        top:58vh;
        left:23vw;
    }

    #player2-pot{
        top:-6.8vh;
        left:7vw;
    }

    #player7{
        top:36vh;
        left:75vw;
    }

    #player7-pot{
        top:5.7vh;
        left:-9.7vw;
    }


    .kickOut-button{
        position: absolute;
        width: 6.9vw;
        height: 2.4vw;
        font-weight: bold;
        border-radius: 0px 0px 3px 3px;
        background: white;
        color: brown;
        font-size: 0.1em;
        border-bottom: 1px solid black;
        border-left: 1px solid transparent;
        border-right: 1px solid black;
        z-index: 41;
        alignment: center;
        text-align: center;
        top:9.3vh;
        left:8vw;
        cursor: pointer;
        padding-top: 4px;
    }
    .force-action-button{
        width: 8.5vw;
        height: 3.3vw;
        font-weight: bold;
        color: black;
        background: #ffff33;
        border-radius: 0px 0px 3px 3px;
        font-size: 0.1em;
        border-bottom: 1px solid black;
        border-left: 1px solid transparent;
        border-right: 1px solid black;
        z-index: 41;
        alignment: center;
        text-align: center;
        top:7.5vh;
        left:6.5vw;
        cursor: pointer;
        padding-top: 8px;
    }
    .player-sitOut-indication{
        position: absolute;
        width: 15vw;
        height: 2.2vw;
        border-radius: 10px;
        background: black;
        color: white;
        font-weight: normal;
        font-size: 0.3em;
        z-index: 12;
        padding-top: 3px;
        alignment: center;
        text-align: center;
        top:13.7vh;
        left:0vw;
    }

    @keyframes player-hand-description-anim {
        from {
            top:0.6vh;
            left:0vw;
            width: 1vw;
            font-size: 0.01em;
            color: white;
        }
        to {
            top:11.6vh;
            left:0vw;
            width: 11vw;
            font-size: 0.5em;
            color: black;
        }
    }

    .player-hand-description-at-game-phase-1{
        animation-name: player-hand-description-anim;
        animation-duration: 0.9s;
        animation-delay: 1.3s;
        animation-fill-mode: both;
    }
    .player-hand-description-at-game-phase-2{
        animation-name: player-hand-description-anim;
        animation-duration: 0.9s;
        animation-delay: 1.3s;
        animation-fill-mode: both;
    }
    .player-hand-description-at-game-phase-3{
        animation-name: player-hand-description-anim;
        animation-duration: 0.9s;
        animation-delay: 1.3s;
        animation-fill-mode: both;
    }
}
