.App {
  text-align: center;
}

#app-version{
  position: fixed;
  top: 8.6vh;
  left: 38.3vw;
  z-index: 50;
  color: #777777;
}
#app-name{
  position: fixed;
  top: 1.6vh;
  left: 18vw;
  height: 7.8vh;
  width: 23vw;
  z-index: 50;
}
#connection-status{
  position: fixed;
  top: 2vh;
  left: 0.8vw;

  height: 7vh;
  font-family: "Arial Black";
  z-index: 50;
  font-size: 2em;
  text-align: center;
  padding: 3px 10px;

  border-radius: 12px;
  border-width: 3px;
  border-style: solid;
}

.connected-to-server{
  border-color: forestgreen;
  color: forestgreen;
}

.connecting-to-server{
  border-color: orange;
  color: orange;
  cursor: progress;
  animation: blinker 2s linear infinite;
}
.red-border{
  border: 2px solid red;
}

@media only screen and (max-width: 800px) {
  #app-version{
    color: #77777700;
  }

  #app-name{
    left: 25vw;
  }
  #connection-status{
    top: 1.9vh;
    left: 1vw;
    height: 9vh;
    font-size: 1em;
    padding: 0px 10px 0px 10px;
    border-radius: 8px;
    border-width: 2px;
  }
}
