$community-card-deck-top: 44.5vh;
$community-card-deck-left: 46vw;
$community-card-top: 32vh;
$first-community-card-left: 35vw;

$font-small: 0.7em;
$font-big: 2.1em;


.card{
    border: 2px solid white;
    outline: 1px solid black;
    border-radius: 5px;
}

.player-div{
    position:relative;
}

#community-cards{

}

@mixin communityCardDeck{
    position: fixed;
    z-index: 15;
}

#community-card-deck1{
    @include communityCardDeck;
    top: $community-card-deck-top;
    left:$community-card-deck-left;
}

#community-card-deck2{
    @include communityCardDeck;
    top: $community-card-deck-top + 0.1;
    left:$community-card-deck-left + 0.1;
}

#community-card-deck3{
    @include communityCardDeck;
    top: $community-card-deck-top + 0.2;
    left:$community-card-deck-left + 0.2;
}


@mixin communityCard{
    position: fixed;
    z-index: 11;
    animation-duration: 0.9s;
    animation-fill-mode: both;
}

@mixin communityCardAnimationFrom{
    top: $community-card-deck-top + 0.2;
    left:$community-card-deck-left + 0.2;
}

@keyframes community-card-1-anim {
    from {
        @include communityCardAnimationFrom;
    }
    to {
        top: $community-card-top;
        left:$first-community-card-left;
    }
}

#community-card-1{
    @include  communityCard;
    animation-name: community-card-1-anim;
    animation-delay: 0.4s;
}

@keyframes community-card-2-anim {
    from {
        @include communityCardAnimationFrom;
    }
    to {
        top: $community-card-top;
        left:$first-community-card-left + 5;
    }
}

#community-card-2{
    @include  communityCard;
    animation-name: community-card-2-anim;
    animation-delay: 0.9s;
}

@keyframes community-card-3-anim {
    from {
        @include communityCardAnimationFrom;
    }
    to {
        top: $community-card-top;
        left:$first-community-card-left + 10;
    }
}

#community-card-3{
    @include  communityCard;
    animation-name: community-card-3-anim;
    animation-delay: 1.3s;
}

@keyframes community-card-4-anim {
    from {
        @include communityCardAnimationFrom;
    }
    to {
        top: $community-card-top;
        left:$first-community-card-left + 16;
    }
}

#community-card-4{
    @include  communityCard;
    animation-name: community-card-4-anim;
    animation-delay: 0.3s;
}

@keyframes community-card-5-anim {
    from {
        @include communityCardAnimationFrom;
    }
    to {
        top: $community-card-top;
        left:$first-community-card-left + 22;
    }
}

#community-card-5{
    @include  communityCard;
    animation-name: community-card-5-anim;
    animation-delay: 1.3s;
}



.simple-card-base{
    width: 4vw;
    height: 5vw;
    border: 1px solid black;
    background: white;
    border-radius: 5px;
    padding: 0.2vw;
}

$first-card-z-index: 20;


.first-card{
    z-index: $first-card-z-index + 3;
    position: absolute;
    left: 4vw;
}

.second-card{
    z-index: $first-card-z-index + 2;
    position: absolute;
    left: 1.1vw;
}
.third-card{


    z-index: $first-card-z-index + 1;
    position: absolute;
    left: -1.7vw;
}
.fourth-card{


    z-index: $first-card-z-index;
    position: absolute;
    left: -4.6vw;
}

.highlight-card{
    outline: 4px solid darkred;
}

.shown-card{
    outline: 1px solid #cc2222;
}
.drop-card-enabled{

    &:hover{
        outline: 2px solid red;
        cursor: pointer;
    }
}


.simple-card-back{
    background: #BB445588;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    border: 1px solid transparent;
}

@mixin innerCardSizes{
    width: 3.6vw;
    height: 4.6vw;
}


@mixin visibleCardFonts{
    font-weight: bold;
    font-size: $font-big;
    position: absolute;
}


.simple-card-front{
    @include innerCardSizes;
    @include visibleCardFonts;
    background: white;
}

.simple-card-folded{
    background: #88888899;
    width: 100%;
    height: 100%;
    border: 1px solid transparent;
    border-radius: 5px;
}
.my-folded-card{
    @include innerCardSizes;
    @include visibleCardFonts;
    opacity: 0.5;
    background: #CCCCCC99;
}
.black-card{
    color: black;
}
.red-card{
    color: #CC0000;
}
.club-color-card{
    color: #2c8a2c;
}
.diamond-color-card{
    color: #3550cb;
}
.card-number{
    position: relative;
    top:0px;
    left:0.1vw;
}

.card-sign{
    font-size: $font-small;
    position: relative;
    bottom:0.8vw;
    left:1.3vw;
}

.em,.em-svg{
    height:1.5em;
    width:1.5em;
    background-position:center;
    background-repeat:no-repeat;
    background-size:contain;
    display:inline-block;
    vertical-align:middle
}

.em-2clubs{
    background-image:url("https://friendly-poker.herokuapp.com/2club.png")
}
.em-2clubs.em-svg{background:url("https://friendly-poker.herokuapp.com/2club.png");
    background-image:url("https://friendly-poker.herokuapp.com/2club.svg"),none
}

.em-4clubs{
    background-image:url("https://friendly-poker.herokuapp.com/4club.png")
}
.em-4clubs.em-svg{background:url("https://friendly-poker.herokuapp.com/4club.png");
    background-image:url("https://friendly-poker.herokuapp.com/4club.svg"),none
}

.em-2diamonds{background-image:url("https://friendly-poker.herokuapp.com/2diamond.png")}
.em-2diamonds.em-svg{background:url("https://friendly-poker.herokuapp.com/2diamond.png");
background-image:url("https://friendly-poker.herokuapp.com/2diamond.svg"),none
}
.em-4diamonds{background-image:url("https://friendly-poker.herokuapp.com/4diamond.png")}
.em-4diamonds.em-svg{background:url("https://friendly-poker.herokuapp.com/4diamond.png");
background-image:url("https://friendly-poker.herokuapp.com/4diamond.svg"),none
}

.em-hearts{background-image:url("https://twemoji.maxcdn.com/2/72x72/2665.png")}
.em-hearts.em-svg{background:url("https://twemoji.maxcdn.com/2/72x72/2665.png");
    background-image:url("https://twemoji.maxcdn.com/2/svg/2665.svg"),none}

em-spades{background-image:url("https://twemoji.maxcdn.com/2/72x72/2660.png")}
.em-spades.em-svg{background:url("https://twemoji.maxcdn.com/2/72x72/2660.png");
    background-image:url("https://twemoji.maxcdn.com/2/svg/2660.svg"),none}

@include mobile-horizonal {
    $font-small: 0.5em;
    $font-big: 1.1em;
    .card-number{
        top:-4px;
    }
    .card-sign{
        font-size: $font-small;
        position: relative;
        bottom:1.3vw;
        left:1vw;
    }

    .simple-card-front{
        font-weight: bold;
        font-size: $font-big;
        position: absolute;
    }
    .my-folded-card{
        font-weight: bold;
        font-size: $font-big;
        position: absolute;
        opacity: 0.5;
        background: #CCCCCC99;
    }
}
@include mobile-vertical {
    $font-small: 0.7em;
    $font-big: 1.3em;
    .simple-card-base{
        width: 9vw;
        height: 14vw;
        border-radius: 4px;
        padding: 0.1vw;
        background: #ffffffCC;
    }

    .card-number{
        top:-1px;
        left: 1px
    }
    .card-sign{
        font-size: $font-small;
        position: relative;
        bottom:1.5vw;
        left:1px;
    }

    .simple-card-front{
        font-weight: bold;
        font-size: $font-big;
        position: absolute;
    }
    .my-folded-card{
        font-weight: bold;
        font-size: $font-big;
        position: absolute;
        opacity: 0.5;
        background: #CCCCCC99;
    }

}
