#create-new-game-screen{
    position: fixed;
    top:0;
    left:0;
    width: 100vw;
    height: 100vh;
    background: black;
    z-index: 0;
}
#create-new-game-screen input{
    text-align: center;
}

.config-screens-top-level-sections{
    position: fixed;
    top:11vh;
    height: 86vh;
    z-index: 1;
    border: 3px solid gray;
    border-radius: 12px;
}

#create-new-game-section{
    left:2vw;
    width: 58vw;
}

#my-existing-games{
    left:62vw;
    width: 36vw;
}

.config-screens-top-level-sections-header{
    position: fixed;
    top:11.5vh;
    height: 4vmax;
    z-index: 2;
    text-align: center;
    font-size: 3vw;
    color: white;
    z-index: 2;
}

#create-new-game-section-header{
    left:2vw;
    width: 58vw;
}

#my-existing-games-header{
    left:62vw;
    width: 36vw;
}

.config-screens-top-level-sections-body{
    position: fixed;
    top:20.3vh;
    height: 75.5vh;
    z-index: 2;
    border: 2px solid gray;
    border-radius: 12px;
}
#create-new-game-section-body{
    left: 3.5vw;
    width: 55vw;
}

#my-existing-games-body{
    left:62.5vw;
    width: 34vw;
    padding: 4px;
    overflow-y: scroll;
    height: 75.5vh;
}

.create-new-game-labels{
    color: white;
    font-size: 2.6em;
}

.tablecell{
    width:1px;
    display:table-cell;
}

#select-game-div{
    position: fixed;
    top:21.6vh;
    height: 6vh;
    left: 6vw;
    width: 70vw;
    z-index: 3;
    text-align: left;
    padding-left: 1vw;
    padding-right: 1vw;
    padding-top: 0px;
    color: white;
    font-size: 1.8em;
}
#select-game-label{
    width: 15vw;
    font-size: 1.3em;
}


#select-game-dropdown{
    position: relative;
    left: 1vw;
    background: white;
    color: black;
    width: 31.7vw;
    border-radius: 8px;
    padding: 10px 0px 5px 20px;
    height: 3vh;
    font-size: 2em;
}

#create-new-game-blinds-div{
    position: fixed;
    top:30vh;
    height: 6vh;
    left: 6vw;
    width: 51vw;
    z-index: 3;
    text-align: left;
    padding-left: 1vw;
    padding-right: 1vw;
    padding-top: 0px;
}

#create-new-game-small-blind-input{
    border-radius: 12px;
    font-size:  2em;
    color: black;
    margin-left: 1.1vw;
    margin-right: 7vw;
    width: 8vw;
}
#create-new-game-big-blind-input{
    border-radius: 12px;
    font-size:  2.3em;
    color: black;
    margin-left: 1vw;
    width: 8vw;
}
#create-new-game-action-time-div{
    position: fixed;
    top:39vh;
    height: 6vh;
    left: 6vw;
    width: 51vw;
    z-index: 3;
    text-align: left;
    padding-left: 1vw;
    padding-right: 1vw;
    padding-top: 0px;
}
#create-new-game-action-time-input{
    border-radius: 12px;
    margin-right: 1vw;
    font-size:  2.3em;
    color: black;
    margin-left: 1.5vw;
    width: 7vw;
}

#create-new-game-private-checkbox{
    position: fixed;
    top:47vh;
    height: 6vh;
    left: 6vw;
    width: 51vw;
    z-index: 3;
    text-align: left;
    padding-left: 1vw;
    padding-right: 1vw;
    padding-top: 0px;

    font-size: 2em;
    label{
        color: #999999;
        font-size:  2.2em;
    }
}

#create-new-game-approval-required-checkbox{
    position: fixed;
    top:54vh;
    height: 6vh;
    left: 6vw;
    width: 51vw;
    z-index: 3;
    text-align: left;
    padding-left: 1vw;
    padding-right: 1vw;
    padding-top: 0px;

    font-size: 2em;
    label{
        color: #A1A1A1;
        font-size:  2.3em;
    }
}

#create-new-game-timebank-enabled-checkbox{
    position: fixed;
    top:47vh;
    height: 6vh;
    left: 35vw;
    width: 51vw;
    z-index: 3;
    text-align: left;
    padding-left: 1vw;
    padding-right: 1vw;
    padding-top: 0px;

    font-size: 2em;
    label{
        color: #C9C9C9;
        font-size:  2.3em;
    }
}

#create-new-game-straddle-enabled-checkbox{
    position: fixed;
    top:61vh;
    height: 6vh;
    left: 6vw;
    width: 51vw;
    z-index: 3;
    text-align: left;
    padding-left: 1vw;
    padding-right: 1vw;
    padding-top: 0px;

    font-size: 2em;
    label{
        color: #C9C9C9;
        font-size:  2.3em;
    }
}

#create-new-game-name-div{
    position: fixed;
    top:70vh;
    height: 6vh;
    left: 6vw;
    width: 51vw;
    z-index: 3;
    font-size: 0.7em;
    text-align: left;
    border: 1px solid transparent;
    border-top: 1px solid white;
    padding-left: 1vw;
    padding-right: 1vw;
    padding-top: 5px;
    display:table;
}
#create-new-game-name-label{
    color: white;
    font-size: 2.7em;
}
#create-new-game-buy-in-label{
    color: white;
    font-size: 2em;
}
#create-new-game-name-input{
    border-radius: 12px;
    margin-left: 1vw;
    font-size:  2.6em;
    color: black;
    display:table-cell;
    width:50%;

}
#create-new-game-buy-in-div{
    position: fixed;
    top:77.8vh;
    height: 6vh;
    left: 6vw;
    width: 51vw;
    z-index: 3;
    text-align: left;
    padding-left: 1vw;
    padding-right: 1vw;
    padding-top: 0px;
}
#create-new-game-buy-in-input{
    border-radius: 12px;
    margin-right: 1vw;
    font-size:  2em;
    color: black;
    margin-left: 1vw;
    width: 9vw;
}

#create-game-button{
    color: black;
    font-weight: bold;
    background-image: linear-gradient(white, black);
    font-size:  3.2em;
    position: fixed;
    top:84.8vh;
    height: 10vh;
    left:24.5vw;
    width: 13.5vw;
    z-index: 2;
    text-align: center;
    border: 3px solid gray;
    border-radius: 12px;
    cursor: pointer;
    padding-top: 0vh;
}
.disabled-create-game-button{
    color: darkgray;
}
.disabled-save-game-settings-button{
    color: darkgray;
    background: #5a6268;
    cursor: default;
}
.existing-game{
    border-radius: 7px;
    width: 100%;
    padding-left: 20px;
    padding-bottom: 20px;
    margin: 2px;
    cursor: pointer;
    font-size: 1.8em;
}
.existing-game:hover{
    cursor: pointer;
    background: #dd222299;
}
.greyGame{
    background: #5a6268;
}
.whiteGame{
    background: grey;
}
#delete-game-button{
    margin: 15px;
    padding: 10px;
    text-align: center;
    border: 2px solid black;
    background: white;
    color: black;
    width: 50%;
    border-radius: 20px;
}

#delete-game-button:hover{
    background: black;
    color: floralwhite;
    cursor: revert;
}
