#create-new-game-screen{
    position: fixed;
    top:0;
    left:0;
    width: 100vw;
    height: 100vh;
    background: black;
    z-index: 0;
}
#create-new-game-screen input{
    text-align: center;
}

.config-screens-top-level-sections{
    position: fixed;
    top:13vh;
    height: 83vh;
    z-index: 1;
    border: 3px solid gray;
    border-radius: 12px;
}

#create-new-game-section{
    left:5vw;
    width: 53vw;
}

#my-existing-games{
    left:63vw;
    width: 34vw;
}

.config-screens-top-level-sections-header{
    position: fixed;
    top:14vh;
    height: 4vmax;
    z-index: 2;
    text-align: center;
    font-size: 3vw;
    color: white;
    z-index: 2;
}

#create-new-game-section-header{
    left: 5vw;
    width: 53vw;
}

#my-existing-games-header{
    left:65vw;
    width: 32vw;
}

.config-screens-top-level-sections-body{
    position: fixed;
    top:24vh;
    height: 60vh;
    z-index: 2;
    border: 2px solid gray;
    border-radius: 12px;
}
#create-new-game-section-body{
    left: 6vw;
    width: 51vw;
}

#my-existing-games-body{
    left:64vw;
    width: 32vw;
    padding: 4px;
    overflow-y: scroll;
    height: 70vh;
}


.create-new-game-labels{
    color: white;
    font-size: 2.7em;
}

.tablecell{
    width:1px;
    display:table-cell;
}

#select-game-div{
    position: fixed;
    top:26vh;
    height: 6vh;
    left: 6vw;
    width: 70vw;
    z-index: 3;
    text-align: left;
    padding-left: 1vw;
    padding-right: 1vw;
    padding-top: 0px;
    color: white;
    font-size: 2em;
}
#select-game-label{
    width: 15vw;
    font-size: 1.3em;
}
#select-game-dropdown{
    position: relative;
    left: 1vw;
    background: white;
    color: black;
    width: 31vw;
    border-radius: 8px;
    padding: 10px 0px 5px 20px;
    height: 3vh;
    font-size: 2em;
}

#create-new-game-blinds-div{
    position: fixed;
    top:34.8vh;
    height: 6vh;
    left: 6vw;
    width: 51vw;
    z-index: 3;
    text-align: left;
    padding-left: 1vw;
    padding-right: 1vw;
    padding-top: 0px;
}

#create-new-game-small-blind-input{
    border-radius: 12px;
    font-size:  2.3em;
    color: black;
    margin-left: 1vw;
    margin-right: 6vw;
    width: 7vw;
}
#create-new-game-big-blind-input{
    border-radius: 12px;
    font-size:  2.3em;
    color: black;
    margin-left: 1vw;
    width: 7vw;
}
#create-new-game-action-time-div{
    position: fixed;
    top:44vh;
    height: 6vh;
    left: 6vw;
    width: 51vw;
    z-index: 3;
    text-align: left;
    padding-left: 1vw;
    padding-right: 1vw;
    padding-top: 0px;
}
#create-new-game-action-time-input{
    border-radius: 12px;
    margin-right: 1vw;
    font-size:  2.3em;
    color: black;
    margin-left: 1vw;
    width: 6vw;
}

#create-new-game-private-checkbox{
    position: fixed;
    top:53.6vh;
    height: 6vh;
    left: 6vw;
    width: 51vw;
    z-index: 3;
    text-align: left;
    padding-left: 1vw;
    padding-right: 1vw;
    padding-top: 0px;
    color: white;
    font-size: 2em;
}
#create-new-game-private-checkbox label{
    font-size:  2.3em;
}
#create-new-game-aproval-required-checkbox{
    position: fixed;
    top:60vh;
    height: 6vh;
    left: 6vw;
    width: 51vw;
    z-index: 3;
    text-align: left;
    padding-left: 1vw;
    padding-right: 1vw;
    padding-top: 0px;
    color: white;
    font-size: 2em;
}
#create-new-game-aproval-required-checkbox label{
    font-size:  2.3em;
}

#create-new-game-name-div{
    position: fixed;
    top:67vh;
    height: 6vh;
    left: 6vw;
    width: 51vw;
    z-index: 3;
    font-size: 0.7em;
    text-align: left;
    border: 1px solid transparent;
    border-top: 1px solid white;
    padding-left: 1vw;
    padding-right: 1vw;
    padding-top: 5px;
    display:table;
}
#create-new-game-name-label{
    color: white;
    font-size: 2.7em;
}
#create-new-game-buy-in-label{
    color: white;
    font-size: 2em;
}
#create-new-game-name-input{
    border-radius: 12px;
    margin-left: 1vw;
    font-size:  2.6em;
    color: black;
    display:table-cell;
    width:50%;

}
#create-new-game-buy-in-div{
    position: fixed;
    top:75vh;
    height: 6vh;
    left: 6vw;
    width: 51vw;
    z-index: 3;
    text-align: left;
    padding-left: 1vw;
    padding-right: 1vw;
    padding-top: 0px;
}
#create-new-game-buy-in-input{
    border-radius: 12px;
    margin-right: 1vw;
    font-size:  2.2em;
    color: black;
    margin-left: 1vw;
    width: 9vw;
}

#create-game-button{
    color: white;
    background-image: linear-gradient(darkgreen, black);
    font-size:  3em;
    position: fixed;
    top:84.8vh;
    height: 10vh;
    left:24.5vw;
    width: 13.5vw;
    z-index: 2;
    text-align: center;
    border: 3px solid gray;
    border-radius: 12px;
    cursor: pointer;
    padding-top: 1vh;
}
.disabled-create-game-button{
    color: darkgray;
}
.disabled-save-game-settings-button{
    color: darkgray;
    background: #5a6268;
    cursor: default;
}
.existing-game{
    border-radius: 7px;
    width: 100%;
    padding-left: 20px;
    padding-bottom: 20px;
    margin: 2px;
    cursor: pointer;
    font-size: 1.8em;
}
.existing-game:hover{
    cursor: pointer;
    background: #9fcdff;
}
.greyGame{
    background: #5a6268;
}
.whiteGame{
    background: grey;
}
#delete-game-button{
    margin: 15px;
    padding: 10px;
    text-align: center;
    border: 2px solid black;
    background: white;
    color: black;
    width: 50%;
    border-radius: 20px;
}

#delete-game-button:hover{
    background: indianred;
    color: white;
    cursor: revert;
}
//@include mobile-vertical {
//
//    .config-screens-top-level-sections{
//
//        top:13vh;
//        height: 83vh;
//        z-index: 1;
//        border: 3px solid gray;
//        border-radius: 12px;
//    }
//
//    #create-new-game-section{
//        left:5vw;
//        width: 53vw;
//    }
//
//    #my-existing-games{
//        left:63vw;
//        width: 34vw;
//    }
//
//    .config-screens-top-level-sections-header{
//        top:14vh;
//        height: 4vmax;
//        font-size: 1vw;
//    }
//
//    #create-new-game-section-header{
//        left: 5vw;
//        width: 53vw;
//    }
//
//    #my-existing-games-header{
//        left:65vw;
//        width: 32vw;
//    }
//
//    .config-screens-top-level-sections-body{
//        top:24vh;
//        height: 60vh;
//    }
//    #create-new-game-section-body{
//        left: 6vw;
//        width: 51vw;
//    }
//
//    #my-existing-games-body{
//        left:64vw;
//        width: 32vw;
//        padding: 4px;
//        height: 70vh;
//    }
//
//
//    .create-new-game-labels{
//        font-size: 1em;
//    }
//
//    #select-game-div{
//
//        top:26vh;
//        height: 6vh;
//        left: 6vw;
//        width: 70vw;
//
//        padding-left: 1vw;
//        padding-right: 1vw;
//        padding-top: 0px;
//
//        font-size: 1em;
//    }
//    #select-game-label{
//        width: 15vw;
//        font-size: 1em;
//    }
//    #select-game-dropdown{
//        left: 1vw;
//        width: 31vw;
//        border-radius: 8px;
//        padding: 10px 0px 5px 20px;
//        height: 3vh;
//        font-size: 1em;
//    }
//
//    #create-new-game-blinds-div{
//        top:34.8vh;
//        height: 6vh;
//        left: 6vw;
//        width: 51vw;
//        padding-left: 1vw;
//        padding-right: 1vw;
//        padding-top: 0px;
//    }
//
//    #create-new-game-small-blind-input{
//        font-size:  1em;
//        margin-left: 1vw;
//        margin-right: 6vw;
//        width: 7vw;
//    }
//    #create-new-game-big-blind-input{
//        font-size: 1em;
//        margin-left: 1vw;
//        width: 7vw;
//    }
//    #create-new-game-action-time-div{
//
//        top:44vh;
//        height: 6vh;
//        left: 6vw;
//        width: 51vw;
//        padding-left: 1vw;
//        padding-right: 1vw;
//        padding-top: 0px;
//    }
//    #create-new-game-action-time-input{
//        border-radius: 12px;
//        margin-right: 1vw;
//        font-size: 1em;
//        margin-left: 1vw;
//        width: 6vw;
//    }
//
//    #create-new-game-private-checkbox{
//        top:53.6vh;
//        height: 6vh;
//        left: 6vw;
//        width: 51vw;
//        padding-left: 1vw;
//        padding-right: 1vw;
//        padding-top: 0px;
//        font-size: 1em;
//    }
//    #create-new-game-private-checkbox label{
//        font-size: 1em;
//    }
//    #create-new-game-aproval-required-checkbox{
//
//        top:60vh;
//        height: 6vh;
//        left: 6vw;
//        width: 51vw;
//
//        text-align: left;
//        padding-left: 1vw;
//        padding-right: 1vw;
//        padding-top: 0px;
//        font-size: 1em;
//    }
//    #create-new-game-aproval-required-checkbox label{
//        font-size: 1em;
//    }
//
//    #create-new-game-name-div{
//
//        top:67vh;
//        height: 6vh;
//        left: 6vw;
//        width: 51vw;
//
//        font-size: 0.7em;
//        padding-left: 1vw;
//        padding-right: 1vw;
//        padding-top: 5px;
//    }
//    #create-new-game-name-label{
//        font-size: 1em;
//    }
//    #create-new-game-buy-in-label{
//        font-size: 1em;
//    }
//    #create-new-game-name-input{
//        margin-left: 1vw;
//        font-size: 1em;
//    }
//    #create-new-game-buy-in-div{
//        top:75vh;
//        height: 6vh;
//        left: 6vw;
//        width: 51vw;
//        text-align: left;
//        padding-left: 1vw;
//        padding-right: 1vw;
//        padding-top: 0px;
//    }
//    #create-new-game-buy-in-input{
//        border-radius: 12px;
//        margin-right: 1vw;
//        font-size:  1em;
//        margin-left: 1vw;
//        width: 9vw;
//    }
//
//    #create-game-button{
//        font-size:  1em;
//        position: fixed;
//        top:84.8vh;
//        height: 10vh;
//        left:24.5vw;
//        width: 13.5vw;
//        z-index: 2;
//
//        border: 3px solid gray;
//        padding-top: 1vh;
//    }
//
//    .existing-game{
//        width: 100%;
//        padding-left: 20px;
//        padding-bottom: 20px;
//        margin: 2px;
//        font-size: 1em;
//    }
//
//    #delete-game-button{
//        margin: 15px;
//        padding: 10px;
//        border: 2px solid black;
//        width: 50%;
//        border-radius: 20px;
//    }
//
//}
