$button-top: 81vh;
$button-width: 7.5vw;
$button-height: 7vh;
.big-button{
    border: 2px solid grey;
    border-radius: 15px;
    height: $button-height;
    width: $button-width;
    text-align: center;
    font-weight: bold;
    font-size: 2em;
    padding-top: 1.5vh;
}
.action-button{
    position: fixed;
    top: $button-top;
    border: 2px solid grey;
    border-radius: 15px;
    height: $button-height;
    width: $button-width;
    text-align: center;
    font-weight: bold;
    font-size: 2em;
    padding-top: 0.7vh;
    cursor: pointer;
}
.collapse-button{
    visibility: collapse;
}
.inactive-button{
    opacity: 0.6;
    cursor: default;
}

.active-button:hover{
    cursor: pointer;
}

#show-cards-button{
    right: 1vw;
    width: 22vw;
    font-size: 2.2em;
    background: #1e90ff44;
}

#show-cards-button:hover{
    background: #1e90ff99;
}

#fold-button{
    right: 1vw;
    background: #cd5c5c77;
}

#fold-button:hover{
    background: #cd5c5cDD;
}

#check-fold-button{
    right: 2vw;
    width: 12.5vw;
    position: fixed;
    top: $button-top;
    border: 2px solid grey;
    border-radius: 15px;
    height: $button-height;
    text-align: center;
    font-weight: bold;
    font-size: 2em;
    padding-top: 0.7vh;
    cursor: pointer;
}

#check-fold-button:hover{
    background: #cd5c5cCC;
}
.check-fold-button-pressed{
    background: #cd5c5cFF;
}
.check-fold-button-not-pressed{
    background: #66666666;
}
#toggle-raise-button{
    right: 11vw;
    background: #9fcdbb77
}

#toggle-raise-button:hover{
    background: #9fcdbbDA
}

#check-button{
    right: 21vw;
    background: #155724AA;
    width: 9vw;
}
#check-button:hover{
    background: #155724FF
}

#call-button{
    right: 21vw;
    background: #325752AA;
    width: 9vw;
}

#call-button:hover{
    background: #325752FF
}

#toggle-raise-button-cancel{
    right: 1vw;
    background: #99999933;
}

#toggle-raise-button-cancel:hover{
    background: #9fcdbbDA
}

#raise-button{
    right: 9vw;
    background-image: linear-gradient(black, #55A57755);
    width: 16.6vw;
}

#raise-button:hover{
    background-image: linear-gradient(#55A577CC, #55A57733);
}

.raise-button-add-remove{
    height: $button-height;
    width: 4vw;
    text-align: center;
    font-weight: bold;
    font-size: 1.7em;
    padding-top: 1vh;
    color: white;
    z-index: 10;
    background-image: linear-gradient(black, #222233);
}

.raise-button-add-remove:hover{
    background-image: linear-gradient(#226633, black);
}

#raise-button-add{
    right: 23.5vw;
    border-radius: 0px 50px 50px 0px;
}

#raise-input{
    position: fixed;
    top: $button-top;
    right: 27.5vw;
    height: 4vh;
    width: 8vw;
    text-align: center;
    font-weight: bold;
    font-size: 2em;
    border-radius: 0px;
}
#raise-input-slider{
    position: fixed;
    top: $button-top + 2.8;
    right: 27.5vw;
    width: 8vw;
    z-index: 9;

}

#raise-button-sub{
    right: 35.5vw;
    border-radius: 50px 0px 0px 50px;
}

#all-in-button{
    right: 40vw;
    width: 8vw;
    font-size: 1.9em;
    background-image: linear-gradient(black, #55A57755);
}


#all-in-button:hover{
    background-image: linear-gradient(#55A577CC, #55A57733);

}

.action-buttons-second-row{
    position: fixed;
    top: $button-top + $button-height + 2;
    border: 2px solid grey;
    border-radius: 15px;
    height: $button-height;
    width: 11vw;
    text-align: center;
    font-weight: bold;
    font-size: 2em;
    padding-top: 0.2vh;
    cursor: pointer;
    background-image: linear-gradient(black, #55A55555);
}

.action-buttons-second-row:hover{
    background-image: linear-gradient(#55A555CC, #55A55533);
}

#raise-button-pot{
    right: 1vw;
}


#raise-button-2-3{
    right: 13vw;
}


#raise-button-1-2{
    right: 25vw;
}


#raise-button-1-3{
    right: 37vw;
}

@include mobile-horizonal {
    $button-top: 72vh;
    $button-width: 14vw;
    $button-height: 8.3vh;

    .big-button {
        border: 2px solid grey;
        border-radius: 7px;
        height: $button-height;
        width: $button-width;
        text-align: center;
        font-weight: bold;
        font-size: 1em;
        padding-top: 1.5vh;
        z-index: 100;
    }
    .action-button {
        position: fixed;
        top: $button-top;
        border: 2px solid grey;
        border-radius: 6px;
        height: $button-height;
        width: $button-width;
        text-align: center;
        font-weight: bold;
        font-size: 1em;
        padding-top: 0.7vh;
        cursor: pointer;
        z-index: 100;
    }
    .collapse-button {
        visibility: collapse;
    }
    .inactive-button {
        opacity: 0.6;
        cursor: default;
    }

    .active-button:hover {
        cursor: pointer;
    }

    #show-cards-button {
        right: 1vw;
        width: 22vw;
        font-size: 1em;
        background: #1e90ff44;
    }

    #show-cards-button:hover {
        background: #1e90ff99;
    }

    #fold-button {
        right: 1vw;
        background: #cd5c5c77;
    }

    #fold-button:hover {
        background: #cd5c5cDD;
    }

    #check-fold-button {
        right: 2vw;
        width: 12.5vw;
        position: fixed;
        top: $button-top;
        border: 2px solid grey;
        border-radius: 10px;
        height: 7vh;
        text-align: center;
        font-weight: bold;
        font-size: 1em;
        padding-top: 0.7vh;
        cursor: pointer;
    }

    #check-fold-button:hover {
        background: #cd5c5cCC;
    }
    .check-fold-button-pressed {
        background: #cd5c5cFF;
    }
    .check-fold-button-not-pressed {
        background: #66666666;
    }
    #toggle-raise-button {
        right: 17vw;
        background: #9fcdbb77
    }

    #toggle-raise-button:hover {
        background: #9fcdbbDA
    }

    #check-button {
        right: 35vw;
        background: #155724AA;
        width: 9vw;
    }
    #check-button:hover {
        background: #155724FF
    }

    #call-button {
        right: 35vw;
        background: #325752AA;
        width: 9vw;
    }

    #call-button:hover {
        background: #325752FF
    }

    #toggle-raise-button-cancel {
        right: 1vw;
        background: #99999933;
        width: 12vw;
    }

    #raise-button {
        right: 14vw;
        background-image: linear-gradient(black, #55A57755);
        width: 15vw;
    }

    .raise-button-add-remove {
        height: 8vh;
        width: 6vw;
        text-align: center;
        font-weight: bold;
        font-size: 1.2em;
        padding-top: 0px;
        color: white;
        z-index: 10;
        background-image: linear-gradient(black, #222233);
    }

    #raise-button-add {
        right: 58vw;
        border-radius: 0px 50px 50px 0px;
    }

    #raise-input {
        position: fixed;
        top: $button-top - 0.1;
        right: 64vw;
        height: 5vh;
        width: 18vw;
        text-align: center;
        font-weight: bold;
        font-size: 0.9em;
        border-radius: 0px;
    }
    #raise-input-slider {
        position: fixed;
        top: $button-top - 0.2;
        right: 64vw;
        width: 18vw;
        z-index: 9;

    }

    #raise-button-sub {
        right: 81.7vw;
        border-radius: 50px 0px 0px 50px;
    }

    #all-in-button {
        right: 90vw;
        width: 8vw;
        font-size: 1em;
    }

    .action-buttons-second-row {
        position: fixed;
        top: $button-top + $button-height + 2;
        border: 2px solid grey;
        border-radius: 10px;
        height: $button-height;
        width: $button-width;
        text-align: center;
        font-weight: bold;
        font-size: 1em;
        padding-top: 0.2vh;
        cursor: pointer;
        background-image: linear-gradient(black, #55A55555);
    }

    .action-buttons-second-row:hover {
        background-image: linear-gradient(#55A555CC, #55A55533);
    }

    #raise-button-pot {
        right: 1vw;
    }

    #raise-button-2-3 {
        right: 28vw;
    }


    #raise-button-1-2 {
        right: 55vw;
    }


    #raise-button-1-3 {
        right: 83vw;
    }
}

@include mobile-vertical{

    .big-button {
        border: 2px solid grey;
        border-radius: 7px;
        height: 4.3vh;
        width: 7.5vw;
        text-align: center;
        font-weight: bold;
        font-size: 1em;
        padding-top: 1vh;
    }
    .action-button {
        position: fixed;
        top: 82vh;
        border: 2px solid grey;
        border-radius: 6px;
        height: 4.3vh;
        width: 17.5vw;
        text-align: center;
        font-weight: bold;
        font-size: 1em;
        padding-top: 0.2vh;
        cursor: pointer;
    }
    .collapse-button {
        visibility: collapse;
    }
    .inactive-button {
        opacity: 0.6;
        cursor: default;
    }

    .active-button:hover {
        cursor: pointer;
    }

    #show-cards-button {
        right: 1vw;
        width: 32vw;
        font-size: 1em;
        background: #1e90ff44;
    }

    #check-fold-button {
        right: 2vw;
        width: 23vw;
        position: fixed;
        top: 81vh;
        border: 2px solid grey;
        border-radius: 10px;
        height: 7vh;
        text-align: center;
        font-weight: bold;
        font-size: 1em;
        padding-top: 0.7vh;
    }

    #toggle-raise-button {
        right: 20vw;
        background: #9fcdbb77
    }

    #check-button {
        right: 40vw;
        background: #155724AA;
        width: 22vw;
    }

    #call-button {
        right: 40vw;
        width: 22vw;
    }

    #raise-button {
        right: 21vw;
        width: 26vw;
    }


    .raise-button-add-remove {
        height: 7vh;
        width: 5vw;
        font-size: 1em;
        padding-top: 1vh;
    }

    #raise-button-add {
        right: 50vw;
    }

    #raise-input {
        position: fixed;
        top: 82vh;
        right: 55vw;
        height: 4vh;
        width: 20vw;
        text-align: center;
        font-weight: bold;
        font-size: 1em;
        border-radius: 0px;
    }
    #raise-input-slider {
        position: fixed;
        top: 84vh;
        right: 55vw;
        width: 20vw;
        z-index: 9;

    }

    #raise-button-sub {
        right: 75vw;
    }

    #all-in-button {
        right: 83vw;
        width: 15vw;
        font-size: 1em;

    }


    #all-in-button:hover {
        background-image: linear-gradient(#55A577CC, #55A57733);

    }

    .action-buttons-second-row {
        position: fixed;
        top: 90vh;
        border: 2px solid grey;
        border-radius: 10px;
        height: 4vh;
        width: 15vw;
        text-align: center;
        font-weight: bold;
        font-size: 0.8em;
        padding-top: 0.2vh;
        cursor: pointer;
        background-image: linear-gradient(black, #55A55555);
    }

    .action-buttons-second-row:hover {
        background-image: linear-gradient(#55A555CC, #55A55533);
    }

    #raise-button-pot {
        right: 1vw;
    }


    #raise-button-2-3 {
        right: 19vw;
    }


    #raise-button-1-2 {
        right: 38vw;
    }


    #raise-button-1-3 {
        right: 58vw;
    }
}
