#game-settings-modal{
    z-index: 99;
    position: fixed;
    width: 98vw;
    height: 89vh;
    top: 10vh;
    left: 1vw;
    background: #000000CC;
    padding: 10px 20px;
    border: 2px solid white;
    border-radius: 20px;
    color: white;
    @media only screen and (max-width: $mobile-horizonal) {
        height: 91vh;
        top: 8vh;
        padding: 0px 20px;
    }

}

.game-settings-label{
    font-size: 1.8em;
    margin-left: 2vw;
    margin-right: 2vw;
    @media only screen and (max-width: $mobile-horizonal) {
        font-size: 1.3em;
        margin-left: 1vw;
        margin-right: 1vw;
    }

}

#game-settings-modal-close-x{
    font-size: 3em;
    font-weight: bold;
    font-family: fantasy;
    cursor: pointer;
    z-index: 100;
    position: fixed;
    top: 11vh;
    left: 2vw;
    @media only screen and (max-width: $mobile-horizonal) {
        top: 8vh;
        left: 3vw;
    }

}
#game-settings-modal-title{
    font-size: 2.8em;
    text-align: center;
    color: white;
    font-weight: bold;
    text-decoration: underline;
    margin-bottom: 1vh;
    @media only screen and (max-width: $mobile-horizonal) {
        font-size: 2.2em;
    }

}
#game-settings-modal-select-game-div{
    position: fixed;
    top:20vh;
    left: 2vw;
    @media only screen and (max-width: $mobile-horizonal) {
        top:20vh;
        left: 2vw;
    }


}
#game-settings-blinds{
    position: fixed;
    top:28vh;
    left: 2vw;
    @media only screen and (max-width: $mobile-horizonal) {
        top:32vh;
    }

}
#game-settings-Decision-Time-Limit{
    position: fixed;

    top:37.2vh;
    left: 2vw;
    @media only screen and (max-width: $mobile-horizonal) {
        top:44vh;
    }

}
#game-settings-timebank-enabled-checkbox{
    position: fixed;

    top:43vh;
    left: 4vw;
    @media only screen and (max-width: $mobile-horizonal) {
        top:57vh;
    }

}
#game-settings-approval-required-checkbox{
    position: fixed;
    top:53vh;
    left: 4vw;
    @media only screen and (max-width: $mobile-horizonal) {
        top:67vh;
    }

}

#game-settings-straddle-enabled-checkbox{
    position: fixed;
    top:61vh;
    left: 4vw;
    @media only screen and (max-width: $mobile-horizonal) {
        top:77vh;
    }

}

#game-settings-select-admin{
    position: fixed;
    top:20.2vh;
    left: 55vw;
    @media only screen and (max-width: $mobile-horizonal) {
        top:20vh;
        left: 60vw;
        height: 23vh;
    }

}

#open-change-balances-button{
    background: papayawhip;
    color: black;

    text-align: center;
    border: 2px solid white;
    border-radius: 10px;
    width: 33vw;
    font-size: 2.5em;

    position: fixed;
    top:30.2vh;
    left: 57vw;
    @media only screen and (max-width: $mobile-horizonal)  {
        top:57vh;
        left: 50vw;
        width: 45vw;
        font-size: 1.2em;

    }

}
#force-skip-hand-button{
    background: #8b0000cc;
    color: white;

    text-align: center;
    border: 2px solid white;
    border-radius: 10px;
    width: 33vw;
    font-size: 2.5em;

    position: fixed;
    top:40.2vh;
    left: 57vw;
    @media only screen and (max-width: $mobile-horizonal){
        top:67vh;
        left: 50vw;
        width: 45vw;
        font-size: 1.2em;

    }

}
#toggle-show-requests-button{
    background: #444444;
    color: white;

    text-align: center;
    border: 2px solid white;
    border-radius: 10px;
    width: 17vw;
    font-size: 2em;

    position: fixed;
    top:11.8vh;
    right: 3vw;

    @media only screen and (max-width: $mobile-horizonal) {
        right: 2vw;
        font-size: 1em;
        width: 27vw;
    }

}
#pending-requests{
    background: #CDCDCD;
    border: 2px solid white;
    border-radius: 20px;
    position: fixed;
    top: 20vh;
    left: 2vw;
    width: 96vw;
    height: 78vh;
    @media only screen and (max-width: $mobile-horizonal) and (min-width: $mobile-vertical) {
        height: 78vh;
    }
}
#pending-requests-header{
    padding-top: 5px;
    margin-left: 19px;
    margin-bottom: 15px;
    font-size: 2em;
    color: black;
    text-decoration: underline;
    font-weight: bold;
    height: 4vh;
    @media only screen and (max-width: $mobile-horizonal) {
        padding-top: 1px;
        margin-bottom: 25px;
        font-size: 1.8em;
        height: 4vh;
    }

}
#pending-requests-body{
    padding-left: 15px;
    font-size: 2em;
    color: #333333;
    overflow-y: scroll;
    height: 50vh;
    @media only screen and (max-width: $mobile-horizonal) and (min-width: $mobile-vertical) {
        font-size: 1.2em;
    }
}
.pending-name{
    color: indianred;
    font-weight: bold;
}
.pending-number{
    color: #16181b;
    font-weight: bold;
}
.approve-pending{
    margin-left: 10px;
    color: black;
    font-weight: bold;
    cursor: pointer;
    border: 1px solid white;
    border-radius: 7px;
    padding: 1px 3px 1px 3px;
    background: white;
}
.decline-pending{
    margin-left: 10px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    background: darkred;
    border: 1px solid white;
    border-radius: 7px;
    padding: 1px 5px 1px 3px;
}
.game-settings-item{
    margin-bottom: 2.5vh;
}

.game-subsettings-item{
    margin-bottom: 2.5vh;
    font-size: 1.5em;
}

.game-subsettings-item .select-player-dropdown{
    margin-left: 10px
}
.bold-blue-text{
    font-weight: bold;
    color: dodgerblue;
}

.game-settings-secondary-label{
    font-size: 1.8em;
    margin-left: 0.5vw;
    margin-right: 2vw;
}
.game-settings-input{
    font-size: 1.8em;
    margin-right: 0.5vw;
    width: 8vw;
    text-align: center;
    border-radius: 10px;
}
.game-subsettings-input{
    font-size: 1.8em;
    margin-right: 0.5vw;
    width: 14vw;
    text-align: center;
    border-radius: 10px;
}
#game-settings-save-button{
    width: 23vw;
    font-size: 2.5em;
    text-align: center;
    border: 1px solid white;
    border-radius: 8px;
    position: fixed;
    top: 89vh;
    left: 40vw;
    @media only screen and (max-width: $mobile-horizonal) and (min-width: $mobile-vertical) {
        top: 87vh;
        height: 10vh;
        font-size: 1.8em;
        width: 50vw;
        left: 25vw;
    }

}
#game-subsettings-save-button{
    width: 16vw;

    font-size: 2.5em;
    text-align: center;
    border: 1px solid white;
    border-radius: 8px;
    margin-top: 3vh;
}
.disabled-save-game-subsettings-button{
    background: gray;
    color: dimgrey;
    cursor: default;
}
.game-subsettings-save-button{
    background: whitesmoke;
    color: black;
    cursor: pointer;
}
.game-settings-save-button{
    cursor: pointer;
    background: whitesmoke;
    color: black;
}

#new-balances-section{
    background: white;
    color: black;

    text-align: center;
    border: 2px solid white;
    border-radius: 10px;
    width: 40vw;
    font-size: 1em;

    position: fixed;
    top: 42vh;
    left: 40vw;
}

#select-admin-label{
    color: white;
    font-size: 2em;
}
#select-admin-dropdown{
    background: white;
    color: black;
    width: 14vw;
    border-radius: 8px;
    padding: 10px 0px 5px 20px;
    height: 3.5vh;
    font-size: 2em;
}
#move-admin-section{
    background: white;
    color: black;
}

.underline{
    padding-bottom: 5px;
    border-bottom: 1px solid white;
}

.select-player-dropdown{
    background: white;
    color: black;
    width: 14vw;
    border-radius: 8px;
    padding: 10px 0px 5px 20px;
    height: 3.5vh;
    font-size: 2em;
}
