#game-info-screen{
    position: fixed;
    width: 100vw;
    height: 100vh;
    top:0vh;
    left:0vw;
    background: #000000DD;
    z-index: 100000;
    color: white;
}
#buy-ins-section{
    position: fixed;
    top:5vh;
    left:5vw;
    width: 90vw;
    height: 90vh;
    border: 2px solid #555555;
    border-radius: 20px;
    background: #222222;
    z-index: 100001;
    padding: 2vw;
    overflow-y: scroll;
}

#exit-game-info-screen-button{
    position: fixed;
    top:2vh;
    right:2vw;

    padding: 10px ;
    text-align: center;
    z-index: 100001;
    border: 3px solid white;
    border-radius: 50%;
    font-weight: bold;
    font-size: 2em;
    cursor: pointer;
}

#info-screen-header{
   width: 50%;
    text-align: center;
    font-weight: bold;
    font-size: 1.9em;
    border-bottom: 2px solid #5a6268;
}
#info-screen-summary-header{
   position: fixed;
    left: 58vw;
    top:8.5vh;
    font-weight: bold;
    font-size: 1.9em;
    z-index: 100091;
}
#info-screen-summary-body{
   position: fixed;
    left: 55vw;
    top:14vh;

    z-index: 100091;
}
#info-screen-total-amount{
    width: 50%;
    text-align: left;
    font-size: 1.2em;
}
#info-screen-body{
    width: 50%;
    padding-top: 10px;
}
.player-info-player-name{
    font-weight: bold;
    font-size: 1.7em;
    padding-top: 10px;
    color: #999999;
}

.player-info-player-buyin-row{
    margin-left: 6px;
    font-size: 1.3em;
    color: #666766;
}
.player-buyin-data{
    color: white;
    margin-left: 15px;
}
.player-screen-player-info{
    width: 100%;
    margin-left: 10px;
    border-bottom: 2px solid gray;
}
.player-info-bottom-line-red{
    font-size: 1.3em;
    font-weight: bold;
    color: red;

}

.player-info-bottom-line-green{
    font-size: 1.3em;
    font-weight: bold;
    color: forestgreen;

}

.player-info-bottom-line-gray{
    font-size: 1.3em;
    font-weight: bold;
    color: gray;

}
