@mixin circle{
    height: 8vh;
    width: 7vw;
}
@mixin mobile-horizonal-circle{
    height: 9vh;
    width: 14vw;
    font-size: 0.8em;
    padding-top: 1vh;
}

@mixin mobile-circle-vertical{
    height: 7vh;
    width: 17vw;
    font-size: 1em;
    padding-top: 1.4vh;
}


#join-screen{
    margin-top: 4px;
    background: transparent;
    color: white;
    width: 100vw;
    padding-left: 1vw;
    padding-right: 1vw;
    padding-top: 10px;
    position:fixed;
}

#join-game-section{
    position: fixed;
    top: 13vh;
    left: 2vw;
    background: #111111;
    border: 4px solid grey;
    border-radius: 25px;
    height: 70vh;
    width: 50vw;
    padding: 20px;
    z-index: 1;
    margin-right: 2vw;
    font-size: 1.7em;

    @media only screen and (max-width: $mobile-horizonal) and (min-width: $mobile-vertical) {
        top: 9.8vh;
        left: 2vw;
        border: 2px solid grey;
        border-radius: 10px;
        height: 38vh;
        width: 97vw;
        padding: 1px 10px;
        margin-right: 2vw;
        font-size: 0.9em;
    }
    @media only screen and (max-width: $mobile-vertical) {
        top: 8vh;
        border: 2px solid grey;
        left: 2vw;
        border-radius: 10px;
        height: 41vh;
        width: 97vw;
        padding: 5px 20px;
        margin-right: 2vw;
        font-size: 0.95em;
    }

    div{
        margin-top: 2vh;
        @media only screen and (max-width: $mobile-horizonal) and (min-width: $mobile-vertical) {
            margin-top: 0.3vh;
        }
        @media only screen and (max-width: $mobile-vertical) {
            margin-top: 0vh;
        }
    }

    header{
        font-size: 2.6em;
        text-align: center;
        @media only screen and (max-width: $mobile-horizonal) and (min-width: $mobile-vertical) {
            font-size: 1.4em;
        }
        @media only screen and (max-width: $mobile-vertical) {
            font-size: 1.4em;
        }
    }
}

#join-screen-name-input{

    @media only screen and (max-width: $mobile-horizonal) and (min-width: $mobile-vertical) {
        position: fixed;
        top: 19vh;
        left: 41vw;
        font-size: 1.3em;
    }
    @media only screen and (max-width: $mobile-vertical) {

    }

    input{
        width: 23vw;
        @media only screen and (max-width: $mobile-horizonal) and (min-width: $mobile-vertical) {
           width: 33vw;
        }
        @media only screen and (max-width: $mobile-vertical) {
            width: 62vw;
        }
    }
}

#join-screen-balance-input{
    @media only screen and (max-width: $mobile-horizonal) and (min-width: $mobile-vertical) {
      position: fixed;
        top: 30vh;
        left: 41vw;
        font-size: 1.3em;
    }
    @media only screen and (max-width: $mobile-vertical) {

    }

    input{

        @media only screen and (max-width: $mobile-horizonal) and (min-width: $mobile-vertical) {
            width: 25vw;
        }
        @media only screen and (max-width: $mobile-vertical) {

        }
    }
}

#full-game-div{
    position: fixed;
    top: 40vh;
    height: 10vh;
    margin-top: 10px;
    font-weight: bold;
    font-size: 4em;
    color: #00000099;
    text-align: center;
    width: 40vw;
    left: 57vw;
    z-index: 90000;
    @media only screen and (max-width: $mobile-horizonal) and (min-width: $mobile-vertical) {
        top: 60vh;
        height: 10vh;
        margin-top: 10px;
        font-weight: bold;
        font-size: 1.6em;
        text-align: center;
        width: 50vw;
        left: 25vw;
    }
    @media only screen and (max-width: $mobile-vertical) {
        top: 70vh;
        height: 10vh;
        margin-top: 10px;
        font-weight: bold;
        font-size: 1.6em;
        text-align: center;
        width: 50vw;
        left: 25vw;

    }
}

#existing-players{
    position: fixed;
    top: 13vh;
    left: 53vw;
    height: 70vh;
    width: 45vw;
    background: #111111;
    border: 4px solid grey;
    border-radius: 25px;
    padding: 20px;
    z-index: 1;

    @media only screen and (max-width: $mobile-horizonal) and (min-width: $mobile-vertical) {
        top: 48vh;
        left: 2vw;
        height: 48vh;
        width: 97vw;
        border: 2px solid grey;
        border-radius: 10px;
        padding: 5px 10px;
    }
    @media only screen and (max-width: $mobile-vertical) {
        top: 50vh;
        left: 1.5vw;
        height: 49vh;
        width: 98vw;
        border: 2px solid grey;
        border-radius: 10px;
        padding: 5px 10px;
    }
    header{
        font-size: 2em;
        @media only screen and (max-width: $mobile-horizonal) and (min-width: $mobile-vertical) {
            font-size: 1em;
        }
        @media only screen and (max-width: $mobile-vertical) {
            font-size: 1.4em;
        }
    }
}


#join-table-image{
    position: fixed;
    top: 19vh;
    left: 56vw;
    height: 66vh;
    width: 39vw;
    z-index: 2;
    @media only screen and (max-width: $mobile-horizonal) and (min-width: $mobile-vertical) {
        top: 51.5vh;
        left: 7vw;
        height: 45vh;
        width: 88vw;
    }
    @media only screen and (max-width: $mobile-vertical) {
        top: 57vh;
        left: 7vw;
        height: 40vh;
        width: 86vw;
    }
}

#join-table-existing-player-1{
    top: 31vh;
    left: 56vw;

    @media only screen and (max-width: $mobile-horizonal) and (min-width: $mobile-vertical) {
        top: 57vh;
        left: 9vw;
    }
    @media only screen and (max-width: $mobile-vertical) {
        top: 64vh;
        left: 8vw;
    }
}

#join-table-existing-player-2{
    top: 18vh;
    left: 65vw;
    @media only screen and (max-width: $mobile-horizonal) and (min-width: $mobile-vertical) {
        top: 50vh;
        left: 32vw;
    }
    @media only screen and (max-width: $mobile-vertical) {
        top: 55vh;
        left: 31vw;
    }
}

#join-table-existing-player-3{
    top: 18vh;
    left: 80vw;
    @media only screen and (max-width: $mobile-horizonal) and (min-width: $mobile-vertical) {
        top: 50vh;
        left: 56vw;
    }
    @media only screen and (max-width: $mobile-vertical) {
        top: 55vh;
        left: 56vw;
    }
}

#join-table-existing-player-4{
    top: 31vh;
    left: 89vw;
    @media only screen and (max-width: $mobile-horizonal) and (min-width: $mobile-vertical) {
        top: 57vh;
        left: 79vw;
    }
    @media only screen and (max-width: $mobile-vertical) {
        top: 64vh;
        left: 79vw;
    }
}

#join-table-existing-player-5{
    top: 55vh;
    left: 89vw;
    @media only screen and (max-width: $mobile-horizonal) and (min-width: $mobile-vertical) {
        top: 77vh;
        left: 79vw;
    }
    @media only screen and (max-width: $mobile-vertical) {
        top: 82vh;
        left: 79vw;
    }
}


#join-table-existing-player-6{
    top: 67vh;
    left: 80vw;
    @media only screen and (max-width: $mobile-horizonal) and (min-width: $mobile-vertical) {
        top: 82vh;
        left: 56vw;
    }
    @media only screen and (max-width: $mobile-vertical) {
        top: 87.8vh;
        left: 56vw;
    }
}


#join-table-existing-player-7{
    top: 67vh;
    left: 65vw;
    @media only screen and (max-width: $mobile-horizonal) and (min-width: $mobile-vertical) {
        top: 82vh;
        left: 32vw;
    }
    @media only screen and (max-width: $mobile-vertical) {
        top: 87.8vh;
        left: 31vw;
    }
}

#join-table-existing-player-8{
    top: 55vh;
    left: 56vw;
    @media only screen and (max-width: $mobile-horizonal) and (min-width: $mobile-vertical) {
        top: 77vh;
        left: 9vw;
    }
    @media only screen and (max-width: $mobile-vertical) {
        top: 82vh;
        left: 8vw;
    }
}

.existing-player{
    position: fixed;
    background: white;
    text-align: center;
    color: black;
    z-index: 3;
    border-radius: 5px;
    border: 2px solid black;
    @include circle;

    @media only screen and (max-width: $mobile-horizonal) and (min-width: $mobile-vertical) {
        @include mobile-horizonal-circle;

    }
    @media only screen and (max-width: $mobile-vertical) {
        @include mobile-circle-vertical;
    }
    .player-games-won{
        font-size: 0.5em;
    }

    .short-name{
        font-size: 1.7em;
        margin-top: -8px;
        @media only screen and (max-width: $mobile-horizonal) and (min-width: $mobile-vertical) {
            font-size: 1.8em;
            margin-top: -5px;

        }
        @media only screen and (max-width: $mobile-vertical) {
            font-size: 1.6em;
            margin-top: -8px;
        }
    }
    .long-name{
        font-size: 1.5em;
        margin-top: -5px;
        @media only screen and (max-width: $mobile-horizonal) and (min-width: $mobile-vertical) {
            font-size: 1.5em;
            margin-top: -5px;
        }
        @media only screen and (max-width: $mobile-vertical) {
            font-size: 0.8em;
            margin-top: 0px;
        }
    }


    .player-balance{
        margin-top: -4px;
        font-size: 0.7em;
    }
}

.do-not-sit{
    position: fixed;
    background: #6c757d33;
    text-align: center;
    color: #888888;
    z-index: 3;
    border-radius: 5px;
    border: 2px solid #888888;
    @include circle;
    @media only screen and (max-width: $mobile-horizonal) and (min-width: $mobile-vertical) {
        @include mobile-horizonal-circle;

    }
    @media only screen and (max-width: $mobile-vertical) {
        @include mobile-circle-vertical;
    }
}
.sit-here-button{
    position: fixed;
    background: #99332277;
    text-align: center;
    color: #888888;
    z-index: 3;
    border-radius: 5px;;
    border: 2px solid #888888;
    @include circle;
    font-size: 2em;
    padding-top: 9px;
    @media only screen and (max-width: $mobile-horizonal) and (min-width: $mobile-vertical) {
        @include mobile-horizonal-circle;
        font-size: 1.1em;

    }
    @media only screen and (max-width: $mobile-vertical) {
        @include mobile-circle-vertical;
        font-size: 1.2em;
    }

    &:hover{
        cursor: pointer;
        background: #993333DD;
        color: black;
        font-weight: bold;
        font-size: 2.4em;
        padding-top: 4px;
    }
}




.greyPlayer{
    background: #5a6268;

}
.whitePlayer{
    background: grey;
}

#existing-players-list{
    background: #050505;
    margin-top: 1vh;
    font-size: 2em;
}
.join-game-input{
    margin-bottom: 15px;
    padding-left: 15px;
    border-radius: 6px;
    @media only screen and (max-width: $mobile-horizonal) and (min-width: $mobile-vertical) {
        margin-bottom: 3px;
        padding-left: 15px;
        border-radius: 6px;
    }
    @media only screen and (max-width: $mobile-vertical) {
        margin-bottom: 5px;
        padding-left: 15px;
        border-radius: 6px;
    }
}

