
@keyframes loader-blinker {
    0%   { color: white;}
    25% { color: red;}
    50% { color: black;}
    100% { color: white;}
}
#loader-screen{
    background: black;
    text-align: center;
    padding-top: 30vh;
    font-weight: bold;
    color: white;
    font-size: 4em;
    animation: loader-blinker 4s linear infinite;

    @media only screen and (max-width: $mobile-horizonal) and (min-width: $mobile-vertical) {
        font-size: 2em;
    }
    @media only screen and (max-width: $mobile-vertical) {
        font-size: 2em;

    }
}
