.hidden{
    visibility: collapse;
}
.left-margin{
    margin-left: 3px;
    margin-right: 5px;
}
#online-game-screen{
    background-color: black; /* For browsers that do not support gradients */
    background-image: linear-gradient(to right, black, #444444AA, black); /* Standard syntax (must be last) */
    color: white;
    width: 100vw;
    height: 100vh;
    position:fixed;

    @media only screen and (max-width: $mobile-horizonal) and (min-width: $mobile-vertical) {
        height: 130vh;
        background-color: black; /* For browsers that do not support gradients */
        background-image: linear-gradient(to right, black, #774444AA, black); /* Standard syntax (must be last) */

    }
    @media only screen and (max-width: $mobile-vertical) {
        height: 150vh;
    }
}
.pointer-copy{
    cursor: copy;
}
#game-name{
    position: fixed;
    left: 45vw;
    top:1vh;
    font-size: 1.9em;
    color: #ffffffaa;

    @media only screen and (max-width: $mobile-horizonal) and (min-width: $mobile-vertical) {
        left: 27.2vw;
        top:6.3vh;
        font-size: 1em;
    }
    @media only screen and (max-width: $mobile-vertical) {
        left: 40vw;
        top: 7.2vh;
        font-size: 1em;
    }
}
.shortcut{
    text-decoration: underline;
}
.timer-to-drop-card{
    color: white;
}
.copy-game-link{
    border: 1px solid white;
    border-radius: 15px;
    color: white;
    background: black;
    padding: 10px;
    position: fixed;
    z-index: 102;
}
.copy-game-link:hover{
    cursor: pointer;
    background: #222222;
}

#copy-game-link-big{
    border-width: 4px;
    top:35vh;
    left:33vw;
    width: 30vw;
    font-size: 2.2em;
    text-align: center;

}


@keyframes side-menu-anim {
    from {
        color: white;
        background: black;
        top:10vh;
        right:2vw;
        font-size: 1.5em;
        height: 5.4vh;
        width: 8vw;
    }
    to {
        color: black;
        background: white;
        top:9vh;
        right:0.2vw;
        width: 3vh;
        height: 3vh;
        font-size: 1.2em;
    }
}

.side-menu{
    text-align: center;
    position: fixed;
    z-index: 102;
    border: 1px solid white;
    border-radius: 15px;
}


#side-menu-closed{
    animation-name: side-menu-anim;
    animation-duration: 0.3s;
    animation-fill-mode: both;
    animation-direction: reverse;
}

#side-menu-opened{
    animation-name: side-menu-anim;
    animation-duration: 0.2s;
    animation-delay: 1s;
    animation-fill-mode: both;

}

@keyframes rebuy-button-anim {
    from {
        top:10vh;
        right:2vw;
        height: 1vh;
        width: 8vw;
    }
    to {
        top:10vh;
        right:2vw;
        height: 5.4vh;
        width: 8vw;
    }
}
#rebuy-button{
    border: 1px solid white;
    border-radius: 15px;
    color: white;
    background: black;
    position: fixed;
    z-index: 109;
    font-size: 1em;
    text-align: center;
    padding-top: 1vh;

    animation-name: rebuy-button-anim ;
    animation-duration: 0.3s;
    animation-delay: 0s;
    animation-fill-mode: both;

}

$rebuy-section-top: 8.2vh;
$rebuy-section-right: 0.2vw;
$mobile-horizonal-rebuy-section-top: 8vh;
$mobile-horizonal-rebuy-section-right: 1vw;
#rebuy-section{
    position: fixed;
    z-index: 105;
    top:$rebuy-section-top;
    right:$rebuy-section-right;
    width: 25vw;
    height: 20vh;
    background: #333333;
    border-radius: 8px;

    @media only screen and (max-width: $mobile-horizonal) and (min-width: $mobile-vertical) {
        top:$mobile-horizonal-rebuy-section-top;
        right:$mobile-horizonal-rebuy-section-right;
        width: 45vw;
        height: 35vh;

    }
    @media only screen and (max-width: $mobile-vertical) {
        top:$mobile-horizonal-rebuy-section-top;
        right:$mobile-horizonal-rebuy-section-right;
        width: 65vw;
        height: 30vh;
    }

}

#rebuy-header{
    position: fixed;
    z-index: 106;
    top:$rebuy-section-top;
    right:$rebuy-section-right + 2;
    width: 25vw;
    text-align: center;
    height: 5vh;
    color: white;
    font-size: 1.7em;
    font-weight: bold;
    text-decoration: underline;

    @media only screen and (max-width: $mobile-horizonal) and (min-width: $mobile-vertical) {
        top:$mobile-horizonal-rebuy-section-top;
        right:$mobile-horizonal-rebuy-section-right+5;
        font-size: 1em;
        width: 45vw;
    }
    @media only screen and (max-width: $mobile-vertical) {
        top:$mobile-horizonal-rebuy-section-top;
        right:$mobile-horizonal-rebuy-section-right+15;
        font-size: 2em;
    }
}
#rebuy-amount-label{
    position: fixed;
    z-index: 106;
    top:$rebuy-section-top  +6;
    right:$rebuy-section-right;
    width: 23vw;
    text-align: left;
    height: 5vh;
    color: white;
    font-size: 1.5em;
    @media only screen and (max-width: $mobile-horizonal) and (min-width: $mobile-vertical) {
        top:$mobile-horizonal-rebuy-section-top + 11;
        right:$mobile-horizonal-rebuy-section-right - 2;
        font-size: 1em;
        width: 45vw;
    }
    @media only screen and (max-width: $mobile-vertical) {
        top:$mobile-horizonal-rebuy-section-top + 7;
        right:$mobile-horizonal-rebuy-section-right - 2;
        width: 61vw;
        font-size: 1.3em;
    }
}
#rebuy-input{
    width: 15.5vw;
    padding-left: 0.5vw;
    text-align: center;
    border-radius: 10px;

    position: fixed;
    z-index: 106;
    top:$rebuy-section-top  +6.2;
    right:$rebuy-section-right+2;

    @media only screen and (max-width: $mobile-horizonal) and (min-width: $mobile-vertical) {
        top:$mobile-horizonal-rebuy-section-top + 10;
        right:$mobile-horizonal-rebuy-section-right +2;
        font-size: 1em;
        width: 28vw;
    }
    @media only screen and (max-width: $mobile-vertical) {
        top:$mobile-horizonal-rebuy-section-top + 12;
        right:$mobile-horizonal-rebuy-section-right +5;
        font-size: 1.2em;
        width: 53vw;
    }

}

#cancel-rebuy-button{
    border: 1px solid white;
    border-radius: 15px;
    color: white;
    background: black;
    position: fixed;
    z-index: 109;
    font-size: 1em;
    text-align: center;
    padding-top: 1vh;
    top:$rebuy-section-top  +13;
    right:$rebuy-section-right+2;
    height: 5.4vh;
    width: 8vw;

    @media only screen and (max-width: $mobile-horizonal) and (min-width: $mobile-vertical) {
        top:$mobile-horizonal-rebuy-section-top + 24;
        right:$mobile-horizonal-rebuy-section-right +2;
        font-size: 1em;
        width: 15vw;
        height: 9vh;
        border-radius: 8px;
    }
    @media only screen and (max-width: $mobile-vertical) {
        top:$mobile-horizonal-rebuy-section-top + 20;
        right:$mobile-horizonal-rebuy-section-right +3;
        font-size: 1em;
        width: 20vw;
        height: 9vh;
        border-radius: 8px;
    }

}
#actual-rebuy-button{
    border: 1px solid white;
    border-radius: 15px;
    color: white;
    background: black;
    position: fixed;
    z-index: 109;
    top:$rebuy-section-top  +13;
    right:$rebuy-section-right+16;
    height: 5.4vh;
    width: 8vw;
    font-size: 1em;

    text-align: center;
    padding-top: 1vh;

    @media only screen and (max-width: $mobile-horizonal) and (min-width: $mobile-vertical) {
        top:$mobile-horizonal-rebuy-section-top + 24;
        right:$mobile-horizonal-rebuy-section-right +26;
        font-size: 1em;
        width: 15vw;
        height: 9vh;
        border-radius: 8px;
    }
    @media only screen and (max-width: $mobile-vertical) {
        top:$mobile-horizonal-rebuy-section-top + 20;
        right:$mobile-horizonal-rebuy-section-right +36;
        font-size: 1em;
        width: 20vw;
        height: 9vh;
        border-radius: 8px;
    }
}



@keyframes copy-game-link-small-anim {
    from {
        top:10vh;
        right:2vw;
        height: 1vh;
        width: 8vw;
    }
    to {
        top:18vh;
        right:2vw;
        width: 8vw;
        height: 5.4vh;
    }
}
#copy-game-link-small{
    text-align: center;
    animation-name: copy-game-link-small-anim ;
    animation-duration: 0.4s;
    animation-delay: 0s;
    animation-fill-mode: both;
}
@keyframes stand-sit-button-anim {
    from {
        top:10vh;
        right:2vw;
        height: 1vh;
        width: 8vw;
    }
    to {
        top:26vh;
        right:2vw;
        height: 5.4vh;
        width: 8vw;
    }
}

#stand-sit-button{
    border: 1px solid white;
    border-radius: 15px;
    color: white;
    background: black;
    position: fixed;
    z-index: 103;
    top:26vh;
    right:2vw;
    font-size: 1em;
    height: 5.4vh;
    width: 8vw;
    text-align: center;
    padding-top: 1vh;
    animation-name: stand-sit-button-anim;
    animation-duration: 0.5s;
    animation-delay: 0s;
    animation-fill-mode: both;
}
@keyframes info-button-anim {
    from {
        top:10vh;
        right:2vw;
        height: 1vh;
        width: 8vw;
    }
    to {
        top:34vh;
        right:2vw;
        height: 5.4vh;
        width: 8vw;
    }
}

#info-button{
    border: 1px solid white;
    border-radius: 15px;
    color: white;
    font-size: 1em;
    background: black;
    position: fixed;
    z-index: 103;
    text-align: center;
    padding-top: 1vh;
    animation-name: info-button-anim;
    animation-duration: 0.6s;
    animation-delay: 0s;
    animation-fill-mode: both;
}
@keyframes game-logs-button-anim {
    from {
        top:10vh;
        right:2vw;
        height: 1vh;
        width: 8vw;
    }
    to {
        top:42vh;
        right:2vw;

        height: 5.4vh;
        width: 8vw;
    }
}
#game-logs-button{
    border: 1px solid white;
    border-radius: 15px;
    color: white;
    background: black;
    position: fixed;
    font-size: 1em;
    z-index: 103;

    text-align: center;
    padding-top: 1vh;

    animation-name: game-logs-button-anim;
    animation-duration: 0.7s;
    animation-delay: 0s;
    animation-fill-mode: both;
}
@keyframes quit-button-anim {
    from {
        top:10vh;
        right:2vw;
        height: 1vh;
        width: 8vw;
    }
    to {
        top:50vh;
        right:2vw;
        height: 5.4vh;
        width: 8vw;
    }
}
#quit-button{
    border: 1px solid white;
    border-radius: 15px;


    position: fixed;
    z-index: 103;
    font-size: 1em;

    text-align: center;
    padding-top: 1vh;
    animation-name: quit-button-anim;
    animation-duration: 0.8s;
    animation-delay: 0s;
    animation-fill-mode: both;
}

@keyframes player-settings-button-anim {
    from {
        top:10vh;
        right:2vw;
        height: 1vh;
        width: 8vw;
    }
    to {
        top:58vh;
        right:2vw;
        height: 5.4vh;
        width: 8vw;
    }
}
#player-settings-button{
    border: 1px solid white;
    border-radius: 15px;
    position: fixed;
    z-index: 103;
    font-size: 1em;

    text-align: center;
    padding-top: 1vh;
    animation-name: player-settings-button-anim;
    animation-duration: 0.9s;
    animation-delay: 0s;
    animation-fill-mode: both;
}

.inactive-quit-button{
    background: #66000055;
    color: #5a6268;
    cursor: default;
}
.active-quit-button{
    color: white;
    background: #33111111;
}
.active-quit-button:hover{

    background: #660000;
}

@keyframes game-settings-button-anim {
    from {
        top:10vh;
        right:2vw;
        height: 1vh;
        width: 8vw;
    }
    to {
        top:66vh;
        right:2vw;
        height: 5.4vh;
        width: 8vw;
    }
}

#game-settings-button{
    border: 1px solid white;
    border-radius: 15px;
    color: white;
    font-size: 1em;
    background: black;
    position: fixed;
    z-index: 103;

    text-align: center;
    padding-top: 1vh;

    animation-name: game-settings-button-anim;
    animation-duration: 0.9s;
    animation-delay: 0s;
    animation-fill-mode: both;
}
#settings-pending-indication{
    border-radius: 50%;
    border: 1px solid white;
    color: white;
    background: red;
    position: fixed;
    z-index: 104;
    font-size: 1.3em;
    font-weight: bold;
    height: 2vw;
    width: 2vw;
    text-align: center;
}
@keyframes settings-pending-indication-on-menu-anim {
    from {
        top:9vh;
        right:8.7vw;
    }
    to {
        top:65vh;
        right:8.7vw;
    }
}

.settings-pending-indication-on-menu{
    animation-name: settings-pending-indication-on-menu-anim;
    animation-duration: 0.9s;
    animation-delay: 0s;
    animation-fill-mode: both;
}
@keyframes settings-pending-indication-on-settings-button {
    from {
        top:-5vh;
        right:8.7vw;
    }
    to {
        top:9vh;
        right:8.7vw;
    }
}

.settings-pending-indication-on-settings-button{
    animation-name: settings-pending-indication-on-settings-button;
    animation-duration: 0.9s;
    animation-delay: 0s;
    animation-fill-mode: both;
}


#game-logs-modal{
    z-index: 99;
    position: fixed;
    width: 85vw;
    height: 89vh;
    top: 10vh;
    left: 1vw;
    background: #000000BB;
    padding: 20px;
    border: 2px solid white;
    border-radius: 20px;
    overflow-y: scroll;

}
#game-logs-modal-close-x{
    position: fixed;
    top: 12vh;
    left: 82vw;
    z-index: 100;
    font-size: 2em;
    font-weight: bold;
    font-family: fantasy;
    cursor: pointer;
    color: white;
}

#player-settings-modal{
    z-index: 99;
    position: fixed;
    width: 85vw;
    height: 89vh;
    top: 10vh;
    left: 1vw;
    background: #000000DD;
    padding: 20px;
    border: 2px solid white;
    border-radius: 20px;
    overflow-y: scroll;
    color: white;
    font-size: 2em;

}
#player-settings-header{
    text-align: center;
    text-decoration: underline;
    font-size: 2.5em;

}
#Deck-Style-selection{
    position: fixed;
    top: 30vh;
    left: 2vw;
    width: 25vw;
    height: 50vh;
}
#time-bank-preferences{
    position: fixed;
    top: 30vh;
    left: 28vw;
    width: 35vw;
    height: 50vh;

}
#manual-timebank-checkbox{
    position: fixed;
    top: 35vh;
    left: 30vw;
}
#auto-timebank-checkbox{
    position: fixed;
    top: 39vh;
    left: 30vw;
}
.base-Deck-Style{
    width: 9vw;
    border: 2px solid white;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    margin-bottom: 10px;
    text-align: center;
}
#two-colors-button{
    position: fixed;
    left:2vw;
    top:37vh;
}
#four-colors-button{
    position: fixed;
    left:12vw;
    top:37vh;
}
.selected-Deck-Style{
    background: darkgreen;
}
.unselected-Deck-Style{
    background: #5a6268;
}
#Deck-Style-card1{
    font-size: 0.5em;
    position: fixed;
    left:2vw;
    top:44vh;
}
#Deck-Style-card2{
    font-size: 0.5em;
    position: fixed;
    left:7vw;
    top:44vh;
}

#Deck-Style-card3{
    font-size: 0.5em;
    position: fixed;
    left:11.8vw;
    top:44vh;
}

#Deck-Style-card4{
    font-size: 0.5em;
    position: fixed;
    left:17vw;
    top:44vh;
}
#player-settings-modal-close-x{
    position: fixed;
    top: 12vh;
    left: 82vw;
    z-index: 100;
    font-size: 2em;
    font-weight: bold;
    font-family: fantasy;
    cursor: pointer;
    color: white;
}
#hand-time{
    color: #eaeaea;
    z-index: 30;
    font-size: 1.5em;
    position: fixed;
    top:10vh;
    left:1.5vw;
}
#hand-clock{
    color: red;
    z-index: 30;
    font-size: 2.2em;
    position: fixed;
    top:15vh;
    left:1.5vw;
    font-weight: bold;
    font-family: "Arial Black"
}
#hand-clock-progress{
    z-index: 30;
    position: fixed;
    top:21vh;
    left:1.5vw;
    width: 11vw;

}

@keyframes turn-indication-blink {
    0%   { color: #ff000022;}
    5%   { color: #ff0000ff;}
    10%   { color: #ff000000;}
    15%   { color: #ff0000ff;}
    20%   { color: #ff000000;}
    24%   { color: #ff0000ff;}
    28%   { color: #ff000000;}
    32%   { color: #ff0000ff;}
    35%  { color: #ff000000;}
    38%  { color: #ff0000ff;}
    41%   { color: #ff000000;}
    44%   { color: #ff0000ff;}
    46%   { color: #ff000000;}
    49%  { color: #ff0000ff;}

    52%   { color: #ff000000;}
    54%   { color: #ff0000ff;}
    56%  { color: #ff000000;}
    58%  { color: #ff0000ff;}
    60%   { color: #ff000000;}
    62%   { color: #ff0000ff;}
    64%   { color: #ff000000;}
    66%  { color: #ff0000ff;}
    67%  { color: #ff000000;}
    68%  { color: #ff0000ff;}
    69%  { color: #ff000000;}
    70%   { color: #ff0000ff;}
    71%  { color: #ff000000;}
    72%  { color: #ff0000ff;}
    73%   { color: #ff000000;}
    74%   { color: #ff0000ff;}
    75%   { color: #ff000000;}
    76%  { color: #ff0000ff;}
    77%  { color: #ff000000;}
    78%  { color: #ff0000ff;}
    79%  { color: #ff000000;}
    80%   { color: #ff0000ff;}
    81%  { color: #ff000000;}
    82%  { color: #ff0000ff;}
    83%   { color: #ff000000;}
    84%   { color: #ff0000ff;}
    85%   { color: #ff000000;}
    86%  { color: #ff0000ff;}
    87%  { color: #ff000000;}
    88%  { color: #ff0000ff;}
    89%  { color: #ff000000;}
    90%   { color: #ff0000ff;}
    91%  { color: #ff000000;}
    92%  { color: #ff0000ff;}
    93%   { color: #ff000000;}
    94%   { color: #ff0000ff;}
    95%   { color: #ff000000;}
    96%  { color: #ff0000ff;}
    97%  { color: #ff000000;}
    98%  { color: #ff0000ff;}
    99%  { color: #ff000000;}
    100% { color: #ff0000ff;}
}
#your-turn-indication{
    color: white;
    z-index: 30;
    font-size: 2.8em;
    position: fixed;
    top: 20.4vh;
    left:0.5vw;
    font-weight: bold;
    text-transform: uppercase;
    font-family: "Arial Black";
    padding: 10px;
    animation: turn-indication-blink 20s linear infinite;
    text-align: center;

}

#request-more-time-button{
    color: #ffaaaa;
    z-index: 30;
    position: fixed;
    font-size: 0.68em;
    top: 16.6vh;
    left:9.2vw;
    padding: 4px 10px;
    border: 1px solid red;
    border-radius: 10px;
    font-weight: bold;

    cursor: pointer;

    @media only screen and (max-width: $mobile-horizonal) and (min-width: $mobile-vertical) {
        font-size: 0.68em;
        top: 45vh;
        left:1vw;
        max-width: 12vw;
        padding: 4px 10px;
    }
    @media only screen and (max-width: $mobile-vertical) {
        font-size: 0.68em;
        top: 22vh;
        left:1vw;
        max-width: 12vw;
        padding: 4px 10px;
    }
}

#clock{
    color: #eaeaea55;
    z-index: 30;
    font-size: 1.3em;
    position: fixed;
    position: fixed;
    top:0.2vh;
    right:2vw;
}
#blinds-data{
    color: white;
    z-index: 30;
    font-size: 2.4em;
    position: fixed;
    top:2vh;
    right:2vw;
    font-weight: bold;
    font-family: "Arial Black"
}


#table-image{
    position: fixed;
    top:15vh;
    left:13vw;
    width: 70vw;
    height: 64vh;
    z-index: 1;
    border: 2px solid transparent;
}

#community-pot{
    position: fixed;
    top: 24vh;
    left: 44vw;
    width: 8vw;
    height: 7.4vh;
    z-index: 10;
    text-align: center;
    font-weight: bold;
    color: #eaeaea;
    font-size: 2em;
    border: 2px solid #8b000077;
    border-radius: 16px;
    background: #00000044;
}
.total-pot-amount{
    font-weight: normal;
    font-size: 0.5em;
    color: #FFFFFFCC;
    margin-top: -8px;

}
#messages-box{
    position: fixed;
    overflow-y: hidden;
    background: #444444;
    color: #777777;
    z-index: 999999;
}
#messages-box:hover{
    overflow-y: scroll;
}

.messages-box-focus{
    bottom: 3.2vh;
    left: 0.5vw;
    width: 25vw;
    height: 15.5vh;
    border: 2px solid #444444;
    border-radius: 0px 0px 12px 12px;

    padding-left: 0.6vw;
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
    @media only screen and (max-width: $mobile-horizonal) {
        bottom: 0.2vh;
        left: 0.6vw;
        width: 84.6vw;
        height: 27vh;
        border: 1px solid #666666;
        border-radius: 3px;
        padding-left: 2px;
        padding-top: 2px;
        padding-bottom: 1px;
        font-size: 1em;
    }
}
.messages-box-blur{
    bottom: 3.2vh;
    left: 0.5vw;
    width: 25vw;
    height: 15.5vh;
    border: 2px solid #444444;
    border-radius: 0px 0px 12px 12px;

    padding-left: 0.6vw;
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
    @media only screen and (max-width: $mobile-horizonal) {
        bottom: 0vh;
        left: 0vw;
        width: 35vw;
        height: 10.7vh;
        border: 1px solid #666666;
        border-radius: 3px;
        padding-left: 2px;
        padding-top: 2px;
        padding-bottom: 1px;
        font-size: 0.7em;
    }
}


#chat-header{
    position: fixed;
    bottom: 23vh;
    left: 0.5vw;
    width: 22vw;
    color: white;
    font-size: 1.5em;
    z-index: 999999;
}
#chat-input{
    position: fixed;
    padding-left: 4px;
    border-radius: 8px 0px 0px 0px;
    z-index: 999999;
    @media only screen and (max-width: $mobile-horizonal) and (min-width: $mobile-vertical) {
        border-radius: 0px;
    }
}
.chat-input-focus{
    background: #882222;
    color: white;
    outline: none;
    bottom: 18.8vh;
    left: 0.5vw;
    width: 22vw;
    height: 3.9vh;
    @media only screen and (max-width: $mobile-horizonal) {
        bottom: 27vh;
        left: 0.5vw;
        width: 99vw;
        padding-left: 4px;
        border-radius: 0px;
        height: 9vh;
        z-index: 9999999;
        font-size: 1.7em;
    }
}
.chat-input-blur{
    bottom: 18.8vh;
    left: 0.5vw;
    width: 22vw;
    height: 3.9vh;
    background: white;
    color: black;
    @media only screen and (max-width: $mobile-horizonal) {
        bottom: 10.8vh;
        left: 0vw;
        width: 35vw;
        padding-left: 4px;
        border-radius: 0px;
        height: 5vh;
        z-index: 999999;
        font-size: 0.3em;
    }
}
#send-message-button{
    position: fixed;
    color: white;
    border: 2px solid white;
    cursor: pointer;
    text-align: center;

    z-index: 999999;
    @media only screen and (max-width: $mobile-horizonal) {
        border-radius: 2px;
    }
}
.send-message-button-focus{
    background: black;
    bottom: 18.77vh;
    left: 22.5vw;
    width: 3vw;
    height: 3.88vh;
    border-radius: 0px 8px 0px 0px;
    padding-top: 4px;
    @media only screen and (max-width: $mobile-horizonal) {
        background: red;
        border-radius: 8px;
        bottom: 0.5vh;
        left: 85.5vw;
        width: 14vw;
        height: 27vh;
        font-size: 2em;
      padding-top: 5vh;
    }
}
.send-message-button-blur{
    background: black;
    bottom: 18.77vh;
    left: 22.5vw;
    width: 3vw;
    height: 3.88vh;
    border-radius: 0px 8px 0px 0px;
    padding-top: 4px;
    font-size: 1em;
    @media only screen and (max-width: $mobile-horizonal) {
        visibility: hidden;
    }
}
.msg-time{
    color: #979797;
}

.msg-text{
    color: #777777;
    margin-left: 5px;
}

.msg-text-player-name{
    margin-left: 10px;
    margin-right: 4px;
    font-weight: bold;
}

.msg-text-player-name-color0{
    color: indianred;
}

.msg-text-player-name-color1{
    color: #ff2222;
}

.msg-text-player-name-color2{
    color: hotpink;
}

.msg-text-player-name-color3{
    color: #ff9262;
}

.msg-text-player-name-color4{
    color: orange;
}

.msg-text-player-name-color5{
    color: wheat;
}

.msg-text-player-name-color6{
    color: plum;
}

.msg-text-player-name-color7{
    color: #cc5222;
}


@include mobile-horizonal{

    .copy-game-link{
        visibility: hidden;
    }

    #copy-game-link-big{
        visibility: hidden;
    }


    @keyframes side-menu-anim {
        from {
            color: white;
            background: black;
            top:10vh;
            right:2vw;
            font-size: 1em;
            height: 7vh;
            width: 8vw;
        }
        to {
            color: black;
            background: white;
            top:11vh;
            right:12vw;
            width: 6vh;
            height: 6vh;
            font-size: 0.9em;
            font-weight: bold;
        }
    }

    .side-menu{
        border-radius: 10px;
    }


    #side-menu-closed{
        animation-name: side-menu-anim;
        animation-duration: 0.3s;
        animation-fill-mode: both;
        animation-direction: reverse;
    }

    #side-menu-opened{
        animation-name: side-menu-anim;
        animation-duration: 0.2s;
        animation-delay: 0s;
        animation-fill-mode: both;

    }

    @keyframes rebuy-button-anim {
        from {
            top:10vh;
            right:2vw;
            height: 1vh;
            width: 8vw;
        }
        to {
            top:10.5vh;
            right:2vw;
            height: 11vh;
            width: 8vw;
        }
    }
    #rebuy-button{
        border: 1px solid white;
        border-radius: 10px;
        font-size: 0.5em;
        padding-top: 2px;
        animation-name: rebuy-button-anim ;
        animation-duration: 0.3s;
        animation-delay: 0s;
        animation-fill-mode: both;

    }

    #copy-game-link-small{
        visibility: hidden;
    }
    @keyframes stand-sit-button-anim {
        from {
            top:10vh;
            right:2vw;
            height: 1vh;
            width: 8vw;
        }
        to {
            top:23vh;
            right:2vw;
            height: 11.5vh;
            width: 8vw;
        }
    }

    #stand-sit-button{
        border: 1px solid white;
        border-radius: 10px;
        font-size: 0.6em;
        padding-top: 2px;
        animation-name: stand-sit-button-anim;
    }


    #info-button{
        visibility: hidden;
    }

    #game-logs-button{
        visibility: hidden;
    }
    @keyframes quit-button-anim {
        from {
            top:10vh;
            right:2vw;
            height: 1vh;
            width: 8vw;
        }
        to {
            top:37vh;
            right:2vw;
            height: 10vh;
            width: 8vw;
        }
    }
    #quit-button{
        border-radius: 10px;
        font-size: 0.6em;
        padding-top: 4px;
        animation-name: quit-button-anim;
        animation-duration: 0.8s;
        animation-delay: 0s;
        animation-fill-mode: both;
    }


    #player-settings-button{
        visibility: hidden;
    }

    .inactive-quit-button{
        background: #66000055;
        color: #5a6268;
        cursor: default;
    }
    .active-quit-button{
        color: white;
        background: #33111111;
    }
    .active-quit-button:hover{

        background: #660000;
    }


    #game-settings-button{
        visibility: hidden;
    }
    #settings-pending-indication{
        visibility: hidden;
    }

    .settings-pending-indication-on-menu{
        visibility: hidden;
    }


    .settings-pending-indication-on-settings-button{
        visibility: hidden;
    }


    #game-logs-modal{
        visibility: hidden;

    }
    #game-logs-modal-close-x{
        visibility: hidden;
    }

    #player-settings-modal{
        visibility: hidden;

    }
    #player-settings-header{
        visibility: hidden;

    }
    #Deck-Style-selection{

    }

    #hand-time{
        font-size: 1em;
        position: fixed;
    }
    #hand-clock{
        font-size: 1.5em;
    }
    #hand-clock-progress{
        top:24vh;
    }

    #your-turn-indication{
        font-size: 0.9em;
        top: 25.8vh;
        left:3vw;
        padding: 0px;
        ul{
            padding: 0px 2px;
        }
    }

    #clock{
        visibility: hidden;
    }
    #blinds-data{
        font-size: 1em;
        position: fixed;
        top:2vh;
        right:2vw;
        font-weight: bold;
        font-family: "Arial Black"
    }


    #community-pot{
        position: fixed;
        top: 24vh;
        left: 41vw;
        width: 12vw;
        height: 7.4vh;
        z-index: 10;
        text-align: center;
        font-weight: bold;
        color: #eaeaea;
        font-size: 1.2em;
        border: 1px solid transparent;
        border-radius: 16px;
        background: #00000044;


    }
    .total-pot-amount{
       visibility: hidden;

    }


    #chat-header{
        visibility: hidden;
    }



}


@include mobile-vertical{

    .copy-game-link{
        visibility: hidden;
    }

    #copy-game-link-big{
        visibility: hidden;
    }


    @keyframes side-menu-anim {
        from {
            color: white;
            background: black;
            top:8vh;
            right:2vw;
            font-size: 1em;
            height: 4vh;
            width: 11vw;
        }
        to {
            color: black;
            background: white;
            top:9vh;
            right:13vw;
            width: 3vh;
            height: 3vh;
            font-size: 0.9em;
            font-weight: bold;
        }
    }

    .side-menu{
        border-radius: 10px;
    }


    #side-menu-closed{
        animation-name: side-menu-anim;
        animation-duration: 0.3s;
        animation-fill-mode: both;
        animation-direction: reverse;
    }

    #side-menu-opened{
        animation-name: side-menu-anim;
        animation-duration: 0.2s;
        animation-delay: 0s;
        animation-fill-mode: both;

    }

    @keyframes rebuy-button-anim {
        from {
            top:10vh;
            right:2vw;
            height: 1vh;
            width: 10vw;
        }
        to {
            top:10.5vh;
            right:2vw;
            height: 7vh;
            width: 10vw;
        }
    }
    #rebuy-button{
        border: 1px solid white;
        border-radius: 10px;
        font-size: 0.5em;
        padding-top: 4px;
        animation-name: rebuy-button-anim ;
        animation-duration: 0.3s;
        animation-delay: 0s;
        animation-fill-mode: both;

    }

    #copy-game-link-small{
        visibility: hidden;
    }
    @keyframes stand-sit-button-anim {
        from {
            top:10vh;
            right:2vw;
            height: 1vh;
            width: 10vw;
        }
        to {
            top:18.7vh;
            right:2vw;
            height: 8vh;
            width: 10vw;
        }
    }

    #stand-sit-button{
        border: 1px solid white;
        border-radius: 10px;
        font-size: 0.6em;
        padding-top: 2px;
        animation-name: stand-sit-button-anim;
    }


    #info-button{
        visibility: hidden;
    }

    #game-logs-button{
        visibility: hidden;
    }
    @keyframes quit-button-anim {
        from {
            top:10vh;
            right:2vw;
            height: 1vh;
            width: 8vw;
        }
        to {
            top:28.2vh;
            right:2vw;
            height: 7vh;
            width: 10vw;
        }
    }
    #quit-button{
        border-radius: 10px;
        font-size: 0.6em;
        padding-top: 4px;
        animation-name: quit-button-anim;
        animation-duration: 0.8s;
        animation-delay: 0s;
        animation-fill-mode: both;
    }


    #player-settings-button{
        visibility: hidden;
    }

    .inactive-quit-button{
        background: #66000055;
        color: #5a6268;
        cursor: default;
    }
    .active-quit-button{
        color: white;
        background: #33111111;
    }
    .active-quit-button:hover{

        background: #660000;
    }


    #game-settings-button{
        visibility: hidden;
    }
    #settings-pending-indication{
        visibility: hidden;
    }

    .settings-pending-indication-on-menu{
        visibility: hidden;
    }


    .settings-pending-indication-on-settings-button{
        visibility: hidden;
    }


    #game-logs-modal{
        visibility: hidden;

    }
    #game-logs-modal-close-x{
        visibility: hidden;
    }

    #player-settings-modal{
        visibility: hidden;

    }
    #player-settings-header{
        visibility: hidden;

    }
    #Deck-Style-selection{

    }

    #hand-time{
        font-size: 1em;
        top:8.5vh;

    }
    #hand-clock{
        font-size: 1.4em;
        top:11vh
    }
    #hand-clock-progress{
        top:15.6vh;
        width: 18vw;
    }

    #your-turn-indication{
        font-size: 0.8em;
        top: 17.3vh;
        left:3.8vw;
        padding: 0px;
        ul{
            padding: 0px 2px;
        }
    }

    #clock{
        visibility: hidden;
    }
    #blinds-data{
        font-size: 1em;
        position: fixed;
        top:5.5vh;
        left:2vw;
        font-weight: bold;
        font-family: "Arial Black"
    }


    #community-pot{
        position: fixed;
        top: 24vh;
        left: 41vw;
        width: 12vw;
        height: 7.4vh;
        z-index: 10;
        text-align: center;
        font-weight: bold;
        color: #eaeaea;
        font-size: 1.2em;
        border: 1px solid transparent;
        border-radius: 16px;
        background: #00000044;


    }
    .total-pot-amount{
        visibility: hidden;

    }
    #chat-header{
        visibility: hidden;
    }
}
