
#game-pause-screen{
    position: fixed;
    top:9.3vh;
    height: 87vh;
    width: 99vw;
    left: 0.8vw;
    background: #000000DD;
    border: 2px solid grey;
    border-radius: 10px;
    z-index: 50;
    @media only screen and (max-width: $mobile-horizonal) and (min-width: $mobile-vertical) {
        background: #000000;
    }
    @media only screen and (max-width: $mobile-vertical) {
        background: #000000;
    }
}
#game-pause-info-screen-body-table{
    color: white;
    margin-left: 2vw;
    th{

        padding: 2px 8px;
        border: 2px solid #4e555b;
    }
}

#game-pause-screen table, th, td {
    border: 1px solid #99999955
}

#game-pause-screen table th{
    padding: 6px;
    padding-left: 14px;

}
#game-pause-info-screen-header{
    color: white;
    font-size: 2em;
    text-align: left;
    margin-left: 3vw;
    text-decoration: underline;
    font-weight: bold;
}

#game-pause-indication{
    position: fixed;
    top:0vh;
    left:0vw;
    width: 100vw;
    height: 100vh;
    z-index: 99;
    background: #00000044;
    color: white;
    font-weight: bold;
    font-size: 15em;
    text-align: center;
    padding-top: 8vh;
    font-family: Arial, Helvetica, sans-serif;
    @media only screen and (max-width: $mobile-horizonal) and (min-width: $mobile-vertical) {
        color: #ffffffbb;
        font-size: 10em;
        top:16vh;
    }
    @media only screen and (max-width: $mobile-vertical) {
        color: #ffffffbb;
        font-size: 14em;
        top:27vh;
    }
}

#game-pause-indication-text{
    position: fixed;
    top:0vh;
    left:0vw;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    color: white;
    font-weight: bold;
    font-size: 5em;
    text-align: center;
    padding-top: 42vh;
    @media only screen and (max-width: $mobile-horizonal) and (min-width: $mobile-vertical) {
        font-size: 3em;
        padding-top: 68vh;
    }
    @media only screen and (max-width: $mobile-vertical) {
        font-size: 2.7em;
        padding-top: 69vh;
    }

}
#server-error-message{
    position: fixed;
    top:9.7vh;
    left:32vw;
    width: 60vw;
    height: 60vh;
    z-index: 999;
    color: red;
    background: #000000f4;
    font-weight: bold;
    font-size: 2.2em;
    text-align: left;
    padding-left: 1vw;
    padding-top: 1vw;
}
#straddle-choice-div{

    position: fixed;
    bottom: 2vh;
    left: 30vw;
    width: 10vw;
    cursor: pointer;
    border-radius: 15px;
    height: 8vh;
    text-align: center;
    font-weight: bold;
    font-size: 2em;
    padding-top: 1vh;

    z-index: 101;

    @media only screen and (max-width: $mobile-horizonal) and (min-width: $mobile-vertical) {
        bottom: 5vh;
        left: 22vw;
        width: 40vw;
        height: 11vh;
        font-size: 1.7em;
        padding-top: 0px;
        border-radius: 8px;
    }
    @media only screen and (max-width: $mobile-vertical) {
        bottom: 7vh;
        left: 20vw;
        width: 60vw;
        height: 8.4vh;
        font-size: 2em;
        padding-top: 0vh;
    }
}
.straddle-button-Pressed{
    color: white;
    background: #99000066;
    border: 2px solid red;
}

.straddle-button-not-Pressed{
    color: red;
    background: #00000066;
    border: 2px solid grey;

}


#start-pause-game-button{
    color: white;
    position: fixed;
    bottom: 2vh;
    left: 42vw;
    width: 16vw;
    cursor: pointer;
    border: 2px solid grey;
    border-radius: 15px;
    height: 8vh;
    text-align: center;
    font-weight: bold;
    font-size: 2em;
    padding-top: 1vh;
    background: #00000066;
    z-index: 99102;

    @media only screen and (max-width: $mobile-horizonal) and (min-width: $mobile-vertical) {
        bottom: 1vh;
        left: 37vw;
        width: 35vw;
        height: 11vh;
        font-size: 2em;
        padding-top: 0px;
    }
    @media only screen and (max-width: $mobile-vertical) {
        bottom: 7vh;
        left: 20vw;
        width: 60vw;
        height: 8.4vh;
        font-size: 2em;
        padding-top: 0vh;
    }
}

#start-pause-game-button:hover{
    background: black;
}
