$mobile-horizonal: 800px;
$mobile-vertical: 530px;

@mixin font-huge() {
    font-size: 3.6em;
    @media only screen and (max-width: $mobile-horizonal) and (min-width: $mobile-vertical) {
        font-size: 0.5em;
    }
    @media only screen and (max-width: $mobile-vertical) {
        height: 0.4em;
    }
}

@mixin font-big() {
    font-size: 2em;
    @media only screen and (max-width: $mobile-horizonal) and (min-width: $mobile-vertical) {
        font-size: 0.8em;
    }
    @media only screen and (max-width: $mobile-vertical) {
        height: 0.7em;
    }
}

@mixin font-med() {
    font-size: 1.3em;
    @media only screen and (max-width: $mobile-horizonal) and (min-width: $mobile-vertical) {
        font-size: 0.8em;
    }
    @media only screen and (max-width: $mobile-vertical) {
        height: 0.7em;
    }
}

@mixin font-small() {
    font-size: 1em;
    @media only screen and (max-width: $mobile-horizonal) and (min-width: $mobile-vertical) {
        font-size: 0.8em;
    }
    @media only screen and (max-width: $mobile-vertical) {
        height: 0.7em;
    }
}

@mixin font-extra-small() {
    font-size: 0.7em;
    @media only screen and (max-width: $mobile-horizonal) and (min-width: $mobile-vertical) {
        font-size: 0.8em;
    }
    @media only screen and (max-width: $mobile-vertical) {
        height: 0.7em;
    }
}

$community-card-deck-top: 44.5vh;
$community-card-deck-left: 46vw;
$community-pot-top: 24vh;
$community-pot-left: 44vw;

$player1-top: 65vh;
$player1-left: 44vw;
$player1-pot-top: 57.6vh;
$player1-pot-left: 47.5vw;
$player1-dealer-button-top: 58.6vh;
$player1-dealer-button-left: 52.5vw;

$player2-top: 61vh;
$player2-left: 23vw;
$player2-pot-top: 54.2vh;
$player2-pot-left: 30vw;
$player2-dealer-button-top: 54.2vh;
$player2-dealer-button-left: 27vw;

$player3-top: 36vh;
$player3-left: 9vw;
$player3-pot-top: 46.82vh;
$player3-pot-left: 19.4vw;
$player3-dealer-button-top: 44.22vh;
$player3-dealer-button-left: 25.4vw;

$player4-top: 14vh;
$player4-left: 23vw;
$player4-pot-top: 25.6vh;
$player4-pot-left: 31.5vw;
$player4-dealer-button-top: 25.6vh;
$player4-dealer-button-left: 36.5vw;

$player5-top: 9vh;
$player5-left: 44vw;
$player5-pot-top: 20.3vh;
$player5-pot-left: 52.2vw;
$player5-dealer-button-top: 21vh;
$player5-dealer-button-left: 57.2vw;

$player6-top: 14vh;
$player6-left: 66vw;
$player6-pot-top: 23.5vh;
$player6-pot-left: 62vw;
$player6-dealer-button-top: 26vh;
$player6-dealer-button-left: 66vw;

$player7-top: 36vh;
$player7-left: 80vw;
$player7-pot-top: 45.5vh;
$player7-pot-left: 73vw;
$player7-dealer-button-top: 36.7vh;
$player7-dealer-button-left: 77.3vw;

$player8-top: 61vh;
$player8-left: 66vw;
$player8-pot-top: 54.6vh;
$player8-pot-left: 64.7vw;
$player8-dealer-button-top: 53.6vh;
$player8-dealer-button-left: 69.3vw;

$players-top: (
    "player-1": $player1-top,
    "player-2": $player2-top,
    "player-3": $player3-top,
    "player-4": $player4-top,
    "player-5": $player5-top,
    "player-6": $player6-top,
    "player-7": $player7-top,
    "player-8": $player8-top
);

$players-left: (
    "player-1": $player1-left,
    "player-2": $player2-left,
    "player-3": $player3-left,
    "player-4": $player4-left,
    "player-5": $player5-left,
    "player-6": $player6-left,
    "player-7": $player7-left,
    "player-8": $player8-left
);

$players-pot-top: (
    "player-1": $player1-pot-top,
    "player-2": $player2-pot-top,
    "player-3": $player3-pot-top,
    "player-4": $player4-pot-top,
    "player-5": $player5-pot-top,
    "player-6": $player6-pot-top,
    "player-7": $player7-pot-top,
    "player-8": $player8-pot-top
);

$players-pot-left: (
    "player-1": $player1-pot-left,
    "player-2": $player2-pot-left,
    "player-3": $player3-pot-left,
    "player-4": $player4-pot-left,
    "player-5": $player5-pot-left,
    "player-6": $player6-pot-left,
    "player-7": $player7-pot-left,
    "player-8": $player8-pot-left
);

$players-dealer-button-top: (
    "player-1": $player1-dealer-button-top,
    "player-2": $player2-dealer-button-top,
    "player-3": $player3-dealer-button-top,
    "player-4": $player4-dealer-button-top,
    "player-5": $player5-dealer-button-top,
    "player-6": $player6-dealer-button-top,
    "player-7": $player7-dealer-button-top,
    "player-8": $player8-dealer-button-top
);

$players-dealer-button-left: (
    "player-1": $player1-dealer-button-left,
    "player-2": $player2-dealer-button-left,
    "player-3": $player3-dealer-button-left,
    "player-4": $player4-dealer-button-left,
    "player-5": $player5-dealer-button-left,
    "player-6": $player6-dealer-button-left,
    "player-7": $player7-dealer-button-left,
    "player-8": $player8-dealer-button-left
);



.base-dealer-button{
    position: absolute;
    z-index: 33;
    border: 1px solid #00000099;
    border-radius: 50%;
    width: 2.2vw;
    height: 2.2vw;
    padding-top: 0.24vw;
    text-align: center;
    @include font-med;
    font-weight: bold;
    background: white;
    color: black;
    @media only screen and (max-width: $mobile-horizonal) and (min-width: $mobile-vertical) {
        width: 3.2vw;
        height: 3.2vw;
        padding-top: 0vw;
        font-size: 0.9em;
    }
    @media only screen and (max-width: $mobile-vertical) {


    }
}
.base-straddle-button{
    position: absolute;
    z-index: 33;
    border: 1px solid #00000099;
    border-radius: 50%;
    width: 2.2vw;
    height: 2.2vw;
    padding-top: 0.24vw;
    text-align: center;
    @include font-med;
    font-weight: bold;
    background: red;
    color: white;
    @media only screen and (max-width: $mobile-horizonal) and (min-width: $mobile-vertical) {
        width: 3.2vw;
        height: 3.2vw;
        padding-top: 0vw;
        font-size: 0.9em;
    }
    @media only screen and (max-width: $mobile-vertical) {


    }
}

@mixin player-card-animation-from-section {
    top: $community-card-deck-top;
    left: $community-card-deck-left;
    transform: rotate(0deg);
}

@mixin first-player-card($index){
    z-index: 30;
    transform: rotate(-8deg);
    position: fixed;
    top: map-get($players-top, 'player-' + $index);
    left: map-get($players-left, 'player-' + $index);

}

@mixin second-player-card($index){
    z-index: 30;
    transform: rotate(8deg);
    position: fixed;
    top: map-get($players-top, 'player-' + $index);
    left: map-get($players-left, 'player-' + $index) + 3;

}

@mixin player-pot-mid($index){
    z-index: 33;
    position: fixed;
    top: map-get($players-pot-top, 'player-#{$index}');
    left: map-get($players-pot-left, 'player-#{$index}');
}

@mixin player-pot-pre-mid($index){
    z-index: 33;
    position: fixed;
    top: map-get($players-pot-top, 'player-#{$index}') + 2;
    left: map-get($players-pot-left, 'player-#{$index}') + 2;
}

//playerX-first-card-texas-anim
@for $index from 1 through 8 {
    @keyframes player#{$index}-first-card-texas-anim {
        from {
            @include player-card-animation-from-section;
        }
        to {
            @include first-player-card($index);
        }
    }
}
//playerX-second-card-texas-anim
@for $index from 1 through 8 {
    @keyframes player#{$index}-second-card-texas-anim {
        from {
            @include player-card-animation-from-section;
        }
        to {
            @include second-player-card($index);
        }
    }
}

@mixin player-card-with-anim($index, $first){
    position: fixed;
    animation-duration: 2s;
    animation-fill-mode: both;
    @if ($first){
        //@include first-player-card($index);
        animation-name: player#{$index}-first-card-texas-anim;
        animation-delay: 0s;
    } @else {
        //@include second-player-card($index);
        animation-name: player#{$index}-second-card-texas-anim;
        animation-delay: 0.5s;
    }
}

@mixin player-pot-mid-exit-active {
    position: fixed;
    top: $community-pot-top;
    left: $community-pot-left;
    width: 8vw;
    height: 7.4vh;
    z-index: 10;
    text-align: center;
    font-weight: bold;
    color: #eaeaea78;
    @include font-big;

    border: 1px solid transparent;
    border-radius: 16px;
    background: transparent;
    transition: all 1000ms;
}

@for $index from 1 through 8 {

    #player#{$index} {
        top: map-get($players-top, 'player-' + $index);
        left: map-get($players-left, 'player-' + $index);
    }

    #player#{$index}-first-card-texas {
        @include player-card-with-anim($index, true);
    }
    #player#{$index}-second-card-texas {
        @include player-card-with-anim($index, false);
    }

    #player#{$index}-first-card-texas-no-anim {
        @include first-player-card($index);
    }

    #player#{$index}-second-card-texas-no-anim {
        @include second-player-card($index);
    }

    .player#{$index}-pot-mid {
        @include player-pot-mid($index);
    }
    .player#{$index}-pot-mid-enter {
        @include player-pot-pre-mid($index);
    }
    .player#{$index}-pot-mid-enter-active {
        @include player-pot-mid($index);
        transition: all 1000ms;
    }
    .player#{$index}-pot-mid-exit {
        @include player-pot-mid($index);
    }
    .player#{$index}-pot-mid-exit-active {
        @include player-pot-mid-exit-active;
    }

    @keyframes player#{$index}-pot-end-anim {
        from {
            top: $community-pot-top;
            left: $community-pot-left;
            position: fixed;
            background: transparent;
            text-shadow: 2px 2px black;
            -webkit-text-stroke-width: 1px;
            -webkit-text-stroke-color: black;

            z-index: 999;
            border: 3px solid transparent;

            width: 8vw;
            height: 7.4vh;
            font-weight: bold;
            color: #eaeaea;
            font-size: 2em;
        }
        to {
            position: fixed;
            top: map-get($players-top, 'player-#{$index}') + 1;
            left: map-get($players-left, 'player-#{$index}') + 2;

            background: transparent;
            color: white;

            -webkit-text-stroke-width: 2px;
            -webkit-text-stroke-color: black;
            text-shadow: 2px 2px black;
            z-index: 999;
            border: 3px solid transparent;
            width: 8vw;
            height: 4vw;
            font-size: 3.6em;
            font-weight: bold;
        }
    }

    #player#{$index}-pot-end {
        animation-name: player#{$index}-pot-end-anim;
        animation-duration: 2.2s;
        animation-delay: 0.5s;
        animation-fill-mode: both;
    }

    #player-#{$index}-dealer-button {
        position: fixed;
        z-index: 33;
        top: map-get($players-dealer-button-top, 'player-#{$index}');
        left: map-get($players-dealer-button-left, 'player-#{$index}');
    }
    #player-#{$index}-straddle-button {
        position: fixed;
        z-index: 33;
        top: map-get($players-dealer-button-top, 'player-#{$index}') + 0.5;
        left: map-get($players-dealer-button-left, 'player-#{$index}') + 1;
    }
}

.player{
    position: absolute;
    width: 13vw;
    height: 10vh;
    z-index: 3;
}

.active-player{
    border-radius: 35%;
    @media only screen and (max-width: $mobile-horizonal) and (min-width: $mobile-vertical) {
        border-radius: 5%;
    }
    @media only screen and (max-width: $mobile-vertical) {
        border-radius: 5%;
    }
}

.player-div{
    position:relative;
}

.player-info{
    z-index: 19;
    border-radius: 5px;
    position: absolute;
    left: 5.2vw;
    width: 9.7vw;
    height: 10vh;
    background: white;
     @include font-med;
    padding-top: 1vh;
    padding-left: 6vh;
    border: 1px solid black;
    color: #6c757d;

    @media only screen and (max-width: $mobile-horizonal) and (min-width: $mobile-vertical) {
        height: 12vh;
        width: 11vw;
        padding-top: 2px;
        padding-bottom: 2px;
        font-size: 0.66em;
    }
    @media only screen and (max-width: $mobile-vertical) {
        height: 6vh;
        width: 18vw;
        padding-top: 2px;
        padding-bottom: 2px;
        font-size: 0.8em;
        border-radius: 1px;
    }

}
.active-player-info{
    background: #000000cc;
    border: 4px solid red;
    width: 10.1vw;
    color: red;
    font-weight: bold;
    border-radius: 15px;
    @media only screen and (max-width: $mobile-horizonal) and (min-width: $mobile-vertical) {
        border-radius: 8px;
    }
    @media only screen and (max-width: $mobile-vertical) {
        border-radius: 8px;
    }

}
.winner-player{
    background: #FF5A5ACC;
    border: 4px solid darkred;
    color: black;
    width: 10.1vw;
    font-weight: bold;
    border-radius: 15px;
    @media only screen and (max-width: $mobile-horizonal) and (min-width: $mobile-vertical) {
        border-radius: 8px;
    }
    @media only screen and (max-width: $mobile-vertical) {
        border-radius: 8px;
    }
}

.player-mobile-indication{
    z-index: 22;
    border-radius: 0px 10px 10px 0px;
    position: absolute;
    left: 14.9vw;
    width: 1.5vw;
    height: 1.8vw;
    top:0.2vh;
    background: white;
    border: 1px solid transparent;
    color: black;
    font-size: 1.3em;
    padding-top: 0.1vw;
    padding-left: 0vw;
}
#small-blind-button{
    z-index: 22;
    border-radius: 50%;
    position: absolute;
    left: 11.1vw;
    width: 2vw;
    height: 2vw;
    top:-1.5vh;
    background: #cdcdcd;
    border: 1px solid #00000044;
    color: black;
    @include font-small;
    padding-top: 0.35vw;
    padding-left: 0.47vw;

    @media only screen and (max-width: $mobile-horizonal) and (min-width: $mobile-vertical) {
        visibility: hidden;
    }
    @media only screen and (max-width: $mobile-vertical) {
        visibility: hidden;
    }
}

#big-blind-button{
    z-index: 22;
    border-radius: 50%;
    position: absolute;
    left: 11.1vw;
    width: 2vw;
    height: 2vw;
    top:-1.5vh;
    background: #dcdcdc;
    color: black;
    border: 1px solid #00000044;
    @include font-small;
    padding-top: 0.35vw;
    padding-left: 0.47vw;
    @media only screen and (max-width: $mobile-horizonal) and (min-width: $mobile-vertical) {
        visibility: hidden;
    }
    @media only screen and (max-width: $mobile-vertical) {
        visibility: hidden;
    }
}

.player-pot{
    width: 5.8vw;
    height: 2.7vw;
    border-radius: 25px;
    font-weight: bold;
    @include font-big;
    padding-top: 1px;
    alignment: center;
    text-align: center;

    @media (max-width: $mobile-horizonal) and (min-width: $mobile-vertical) {
        font-size: 1em;
        width: 4vw;
        height: 3vw;
    }
    @media only screen and (max-width: $mobile-vertical) {
        font-size: 1em;
        width: 8vw;
        height: 6vw;
    }

}
.player-pot-mid-hand{
    background: #44444444;
    color: white;
    z-index: 2;
}

.player-status{
    position: absolute;
    width: 4vw;
    height: 1.8vw;
    border: 1px solid black;
    border-radius: 20px;
    background: whitesmoke;
    color: black;
    font-weight: bold;
    @include font-med;
    z-index: 30;
    padding-top: 3px;
    alignment: center;
    text-align: center;
    top:8.7vh;
    left:2.4vw;

    @media only screen and (max-width: $mobile-horizonal) and (min-width: $mobile-vertical) {
        font-size: 0.8em;
        width: 9vw;
        height: 2.9vw;
        top:9.2vh;
        left:1.5vw;
        padding-top: 0px;
        font-weight: normal;
    }
    @media only screen and (max-width: $mobile-vertical) {
        font-size: 0.8em;
        width: 12vw;
        height: 3.6vw;
        padding-top: 0px;
        font-weight: normal;
    }
}
.player-name{
    margin-left: -2vw;
    padding-left: 2.2vw;
    border-bottom: 1px solid #00000033;
    @media only screen and (max-width: $mobile-horizonal) and (min-width: $mobile-vertical) {
       font-size: 0.9em;
    }
    @media only screen and (max-width: $mobile-vertical) {
        font-size: 0.9em;
    }
}
.trophy-badge{
    position: absolute;
    width: 3.4vw;
    height: 2vw;
    border: 1px solid black;
    border-radius: 50%;
    background: white;
    color: goldenrod;
    font-weight: bold;
    z-index: 30;
    top:6.3vh;
    left:12.7vw;

    @media only screen and (max-width: $mobile-horizonal) and (min-width: $mobile-vertical) {
        visibility: hidden;
    }
    @media only screen and (max-width: $mobile-vertical) {
        visibility: hidden;
    }
}

.trophy-badge-1-digit{
    @include font-med;
    padding-top: 2px;
    padding-left: 0.7vw;
}
.trophy-badge-2-digit{
    @include font-small;
    padding-top: 6px;
    padding-left: 0.3vw;

}
.trophy-badge-3-digit{
    @include font-extra-small;
    padding-top: 8px;
    padding-left: 3px;
}
.trophy-badge-4-digit{
    @include font-extra-small;
    padding-top: 5px;
    padding-left: 3px;
}

.player-offline-indication{
    position: absolute;
    width: 8vw;
    height: 2.2vw;
    border-radius: 10px;
    background: #ff0000;
    color: white;
    font-weight: bold;
    @include font-med;
    z-index: 31;
    padding-top: 3px;
    alignment: center;
    text-align: center;
    top:-1.7vh;
    left:0vw;

}
.user-menu{
    position: absolute;
    width: 1.5vw;
    height: 1.5vw;
    font-weight: bold;
    background: transparent;

    @include font-med;
    border: 1px solid #00000044;
    border-radius: 50%;
    z-index: 41;
    text-align: center;
    top:0.8vh;
    left:13.3vw;
    cursor: pointer;

    @media only screen and (max-width: $mobile-horizonal) and (min-width: $mobile-vertical) {
        visibility: hidden;
    }
    @media only screen and (max-width: $mobile-vertical) {
        visibility: hidden;
    }

}
.kick-out{
    color: #11111177;
    @media only screen and (max-width: $mobile-horizonal) and (min-width: $mobile-vertical) {
        visibility: hidden;
    }
    @media only screen and (max-width: $mobile-vertical) {
        visibility: hidden;
    }
}
.force-check{
    color: #00640077;
    @media only screen and (max-width: $mobile-horizonal) and (min-width: $mobile-vertical) {
        visibility: hidden;
    }
    @media only screen and (max-width: $mobile-vertical) {
        visibility: hidden;
    }
}
.force-fold{
    color: #721c2477;
    @media only screen and (max-width: $mobile-horizonal) and (min-width: $mobile-vertical) {
        visibility: hidden;
    }
    @media only screen and (max-width: $mobile-vertical) {
        visibility: hidden;
    }
}

.force-action-button{
    color: black;
    @include font-extra-small;
    background: #ffff33;
    @media only screen and (max-width: $mobile-horizonal) and (min-width: $mobile-vertical) {
     visibility: hidden;
    }
    @media only screen and (max-width: $mobile-vertical) {
        visibility: hidden;
    }
}
.player-sitOut-indication{
    position: absolute;
    width: 7vw;
    height: 4.85vw;
    border-radius: 10px;
    background: black;
    background-image: linear-gradient(to right, #000000cc 63%, white);
    border: 1px solid white;
    color: white;
    font-weight: bold;
    font-size: 1.9em;
    z-index: 22;
    padding-top: 0.3vh;
    padding-left: 5px;
    alignment: center;
    text-align: left;
    top:0.1vh;
    left:1vw;

    @media only screen and (max-width: $mobile-horizonal) and (min-width: $mobile-vertical) {
        width: 9vw;
        height: 6.7vw;
        font-size: 0.9em;
        left:-1vw;
        background-image: linear-gradient(to right, #000000cc 53%, white);
        border: 2px solid white;
    }
    @media only screen and (max-width: $mobile-vertical) {
        width: 18vw;
        height: 2.4vw;
        font-size: 0.8em;
    }
}

.player-joining-next-hand-indication{
    position: absolute;
    width: 12vw;
    height: 2.2vw;
    border-radius: 10px;
    background: black;
    color: white;
    font-weight: bold;
    @include font-med;
    z-index: 22;
    padding-top: 3px;
    alignment: center;
    text-align: center;
    top:10vh;
    left:4.5vw;

    @media only screen and (max-width: $mobile-horizonal) and (min-width: $mobile-vertical) {
        width: 14vw;
        height: 2.6vw;
        font-size: 0.6em;
        left:4vw;
        top:8.5vh;
    }
    @media only screen and (max-width: $mobile-vertical) {
        width: 18vw;
        height: 2.4vw;
        font-size: 0.8em;
    }
}

.player-hand-description{
    position: absolute;
    width: 11vw;
    height: 2vw;
    border-radius: 10px;
    background: white;
    color: black;
    font-weight: bold;
    @include font-small;
    z-index: 10;
    padding-top: 3px;
    alignment: center;
    text-align: center;
    top:11.6vh;
    left:0vw;

    @media only screen and (max-width: $mobile-horizonal) and (min-width: $mobile-vertical) {
        width: 37vw;
        height: 6vw;
        padding-top: 1px;
        font-size: 0.4em;
    }
    @media only screen and (max-width: $mobile-vertical) {
        width: 21vw;
        height: 4vw;
        font-size: 0.5em;
    }

}
@keyframes player-hand-description-anim {
    from {
        top:0.6vh;
        left:2vw;
        width: 1vw;
        font-size: 0.01em;
        color: white;
    }
    to {
        top:11.6vh;
        left:0vw;
        width: 13vw;
        font-size: 1em;
        color: black;


    }
}

.player-hand-description-at-game-phase-1{
    animation-name: player-hand-description-anim;
    animation-duration: 0.9s;
    animation-delay: 1.3s;
    animation-fill-mode: both;
}
.player-hand-description-at-game-phase-2{
    animation-name: player-hand-description-anim;
    animation-duration: 0.9s;
    animation-delay: 1.3s;
    animation-fill-mode: both;
}
.player-hand-description-at-game-phase-3{
    animation-name: player-hand-description-anim;
    animation-duration: 0.9s;
    animation-delay: 1.3s;
    animation-fill-mode: both;
}

